<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="heading-xlarge">Current sentence plan</h1>

<div class="grid-row">
  <div class="column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[{ name: 'screenedDate', error: 'Enter the sentence plan objectives and their progress' }]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- ANGULAR COMPONENT -->
      <app-text-entry [group]="reportForm" name="sentencePlanObjectives"
                      label="Detail the prisoner's sentence plan objectives and their progress"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError && reportForm.get('screenedDate').errors" errorMessage="Enter the sentence plan objectives and their progress">
        <ul>
          <li class="list-bullet">current and planned interventions</li>
          <li class="list-bullet">if the prisoner has not made progress, explain why</li>
        </ul>
      </app-text-entry>

      <!-- ANGULAR COMPONENT -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
