<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="heading-xlarge">Behaviour in prison</h1>

<div class="grid-row">
  <div class="column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'behaviourDetail', error: 'Detail their behaviour in prison' },
                    { name: 'rotl', error: 'Specify whether the prisoner is undertaking or likely to undertake ROTL' },
                    { name: 'rotlInformation', error: 'Enter the prisoner’s ROTL progress' }
                    ]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- ANGULAR COMPONENT -->
      <app-text-entry [group]="reportForm" name="behaviourDetail" label="Detail their behaviour in prison"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError"
                      errorMessage="Detail their behaviour in prison">
      </app-text-entry>

      <hr/>

      <!-- ANGULAR COMPONENT -->
      <app-radio-buttons [group]="reportForm" name="rotl" [options]="['Yes', 'No']" required="true" [error]="formError"
                         label="Is the prisoner undertaking, or likely to undertake, ROTL?"
                         errorMessage="Specify whether the prisoner has met with the OPD screen">
      </app-radio-buttons>

      <hr/>

      <!-- ANGULAR COMPONENT -->
      <app-text-entry [group]="reportForm" name="rotlInformation" label="Prisoner’s ROTL progress"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError"
                      errorMessage="Enter the prisoner’s ROTL progress">
        <p>Detail and any relevant information relating to this. Where periods of ROTL have taken place, include how
          successful this has been to the prisoner’s resettlement. If ROTL not being undertaken explain why</p>
      </app-text-entry>

      <!-- ANGULAR COMPONENT -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
