<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-6">

  <h1 class="govuk-panel__title">Draft report saved</h1>

  <p class="govuk-panel__body">Your draft report has been saved<br>and uploaded successfully to Delius</p>

</div>

<div class="moj-box-border govuk-!-margin-top-4">

  <h2 class="govuk-heading-l">What to do next</h2>

  <table role="presentation">
    <tbody>
    <tr>
      <td style="width: 36px; padding: 0;">
        <span class="moj-icon moj-icon--pdf"></span>
      </td>
      <td style="padding: 0;">
        <p>Review and print your draft 'Short Format Pre-Sentence Report'<br/><a href="javascript:void(0);" class="bold" (click)="generatePdf()">View your draft PDF report</a></p>
      </td>
    </tr>
    <tr>
      <td>
        <span class="moj-icon moj-icon--edit"></span>
      </td>
      <td>
        <p>Check or edit your report again<br/><a href="javascript:void(0);" class="bold" (click)="startOver()">Select a section to update or change</a></p>
      </td>
    </tr>
    <tr>
      <td>
        <span class="moj-icon moj-icon--list"></span>
      </td>
      <td>
        <p>Close this report<br/><a href="javascript:void(0);" class="bold" (click)="close()">View your document list</a></p>
      </td>
    </tr>
    </tbody>
  </table>

</div>

<p class="govuk-!-margin-top-6"><a routerLink="/sfpsr/feedback">What did you think of this service?</a> (takes 30 seconds)</p>
