<h1 class="heading-xlarge">Sources of information</h1>

<div class="grid-row">
  <div class="column-one-third">

    <!-- Angular component -->
    <app-navigation></app-navigation>

  </div>
  <div class="column-two-thirds">

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <fieldset>

        <legend class="lede margin-bottom medium">Select the relevant options</legend>

        <!-- Loop through the "sections" specified in the controller: information-sources.component.ts -->
        <div class="multiple-choice" *ngFor="let section of sections; let i = index" [ngClass]="{ 'margin-top': i > 0 }">
          <input type="checkbox" role="checkbox" [id]="section.control" [formControlName]="section.control" value="true" />
          <label [for]="section.control" class="form-label-bold">{{section.label}}</label>
        </div>

        <div class="panel panel-border-narrow no-padding-top" [ngClass]="{ 'js-hidden': !reportForm.get('otherInformationSource').value }" [attr.aria-hidden]="!reportForm.get('otherInformationSource').value">

          <div class="form-group">
            <label for="otherInformationDetails">
              <span class="form-label-bold">Other source(s) of information</span>
            </label>
            <textarea id="otherInformationDetails" formControlName="otherInformationDetails" class="form-control wide" role="textbox" placeholder="Start typing here..."></textarea>
          </div>

        </div>

        <div class="clearfix"></div>

      </fieldset>

      <input class="button margin-top medium" id="nextButton" type="submit" value="Save & continue" />

    </form>

  </div>
</div>
