<li class="sub-item">Event Details</li>
<li class="sub-item">Case Allocation</li>
<li class="sub-item">Court Appearances</li>
<li class="sub-item">Court &amp; Institutional Reports</li>

<li id="saveDraft" routerLink="/psr-addendum/save-draft" routerLinkActive="active" class="sub-sub-item clickable" *ngIf="!rla.isActive">- Save draft report</li>
<li routerLink="/psr-addendum/offender-details" routerLinkActive="active" class="sub-sub-item clickable">- Offender details</li>
<li routerLink="/psr-addendum/court-details" routerLinkActive="active" class="sub-sub-item clickable">- Sentencing court details</li>
<li routerLink="/psr-addendum/addendum-detail" routerLinkActive="active" class="sub-sub-item clickable">- Addendum detail</li>
<li routerLink="/psr-addendum/signature" routerLinkActive="active" #rla="routerLinkActive" class="sub-sub-item clickable">- Sign and date your addendum</li>

<li class="sub-item">Additional Offences</li>
<li class="sub-item">OGRS Calculation</li>
<li class="sub-item">OASys Assessments</li>
<li class="sub-item">Order Supervisor History</li>
<li class="sub-item">Approved Premises Referrals</li>
<li class="sub-item">Referrals</li>
<li class="sub-item">Drug Testing Referrals</li>
<li class="sub-item">Contact Extract</li>
<li class="sub-item">Non Statutory Interventions</li>
