<h1 class="heading-xlarge no-margin-bottom">Feedback</h1>

<div class="grid-row margin-top medium">
  <div class="column-two-thirds">

    <p class="lede">Short Format Pre-Sentence Report</p>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm.valid)" novalidate>

      <div class="form-group">
        <fieldset>

          <legend>
            <span class="form-label-bold">How would you rate this service?</span>
          </legend>

          <div class="multiple-choice margin-top medium">
            <input id="radio-1" type="radio" formControlName="rating" value="Excellent" [attr.aria-checked]="reportForm.get('rating').value === 'Excellent'" />
            <label for="radio-1">Excellent</label>
          </div>

          <div class="multiple-choice">
            <input id="radio-2" type="radio" formControlName="rating" value="Good" [attr.aria-checked]="reportForm.get('rating').value === 'Good'" />
            <label for="radio-2">Good</label>
          </div>

          <div class="multiple-choice">
            <input id="radio-3" type="radio" formControlName="rating" value="Satisfactory" [attr.aria-checked]="reportForm.get('rating').value === 'Satisfactory'" />
            <label for="radio-3">Satisfactory</label>
          </div>
          <br>
          <div class="multiple-choice">
            <input id="radio-4" type="radio" formControlName="rating" value="Poor" [attr.aria-checked]="reportForm.get('rating').value === 'Poor'" />
            <label for="radio-4">Poor</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-5" type="radio" formControlName="rating" value="Terrible" [attr.aria-checked]="reportForm.get('rating').value === 'Terrible'" />
            <label for="radio-5">Terrible</label>
          </div>
        </fieldset>

      </div>

      <hr noshade />

      <div class="form-group" [ngClass]="{ 'form-group-error': (reportForm.get('feedback').touched || formError) && reportForm.get('feedback').errors }">
        <label for="feedback">
          <span class="form-label-bold">Please give us your feedback</span>
        </label>
        <app-error-messages control="feedback" [active]="(reportForm.get('feedback').touched || formError) && reportForm.get('feedback').errors"></app-error-messages>
        <textarea id="feedback" formControlName="feedback" class="form-control wide" role="textbox" placeholder="Start typing here..." aria-required="true" aria-describedby="feedback_error" required></textarea>
      </div>

      <input id="nextButton" class="button" type="submit" value="Submit feedback" />

    </form>

  </div>
  <div class="column-one-third">&nbsp;</div>
</div>
