<!-- Angular component -->
<app-phase-banner></app-phase-banner>

<!-- Angular component -->
<app-offender-header [data]="offenderData"></app-offender-header>

<!-- Angular component -->
<app-offender-panels [data]="offenderData"></app-offender-panels>

<!-- Angular component -->
<app-offender-risk [data]="offenderData"></app-offender-risk>

<!-- Angular component -->
<app-offender-chronology [data]="offenderData"></app-offender-chronology>

<!-- Angular component -->
<app-offender-management [data]="offenderData"></app-offender-management>

<!-- Angular component -->
<app-offender-details [data]="offenderData"></app-offender-details>

<div class="moj-card govuk-!-margin-top-4" *ngIf="offenderData && offenderData['NOTES']">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Notes</h2>
  <div class="moj-card__body moj-card__body--no-border govuk-!-padding-4">
    <p class="govuk-body govuk-!-margin-0">{{offenderData.NOTES}}</p>
  </div>
</div>
