<!-- Angular component -->
<app-phase-banner></app-phase-banner>

<!-- Angular component -->
<app-offender-header [data]="offenderData" risk="High"></app-offender-header>

<!-- Angular component -->
<app-offender-panels [data]="offenderData"></app-offender-panels>

<br/>

<!-- Angular component -->
<app-accordion-panel title="Offender chronology" [isActive]="true">
  <app-offender-chronology [data]="offenderData"></app-offender-chronology>
</app-accordion-panel>

<!-- Angular component -->
<app-accordion-panel title="Registers and warnings (0)">
  <p class="align-center">No data</p>
</app-accordion-panel>

<!-- Angular component -->
<app-accordion-panel title="Offender details">
  <app-offender-details [data]="offenderData"></app-offender-details>
</app-accordion-panel>

<!-- Angular component -->
<app-accordion-panel title="Offender manager">
  <app-offender-management [data]="offenderData"></app-offender-management>
</app-accordion-panel>

<h2 class="heading-medium">Notes</h2>
<div class="box notes">
  <p>Additional information</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit mattis nisl, eu elementum sem. In molestie
    fringilla metus, sit amet elementum magna mattis a. Vivamus in nulla a ipsum finibus ultrices in at ligula. Aenean
    dui justo, tempor sed condimentum eget, luctus sit amet ligula. Donec sagittis diam et libero ullamcorper
    pellentesque. Nulla ut diam eu quam ultrices posuere. Cras in libero sollicitudin, fringilla felis a, iaculis felis.
    Pellentesque auctor magna ut nulla aliquam, sed ornare eros dictum.</p>
</div>
