<div class="inside-panel">

  <div class="timeline">

    <table role="presentation">
      <thead>
      <tr>
        <td colspan="2" class="timeline-item primary">
          <h2 class="heading-medium no-margin">Short Format Pre-Sentence Report (adjourned)</h2>
        </td>
      </tr>
      <tr>
        <td>
          <p class="text-grey bold margin-bottom">Sexual assault on a female (Sexual Offences Act 2003) - 02005</p>
          <button type="button" class="button" (click)="startSFPSR()">Start</button>
        </td>
        <td width="145">
          <p class="text-grey">27/06/2018</p>
        </td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="2" class="timeline-item">
          <p class="heading-small text-blue clickable">CJA Community Order (12 months)</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="text-grey">Displaying indecent matter - 08603</p>
        </td>
        <td>
          <p class="text-grey">18/02/2017</p>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <hr class="no-margin" />
        </td>
      </tr>
      <tr>
        <td colspan="2" class="timeline-item">
          <p class="heading-small text-blue clickable">CJA Community Order (6 months)</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="text-grey">Disorderly behaviour - 16200</p>
        </td>
        <td>
          <p class="text-grey">15/05/2015</p>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

</div>
