<div *ngIf="data">
  <app-accordion-panel [title]="'Events (' + data.EVENTS.length + ')'">

    <div class="moj-inside-panel">

      <!-- NO RISK DATA -->
      <div *ngIf="!data.EVENTS.length">
        <p class="moj-!-text-align-center">No data</p>
      </div>

      <!--  -->
      <div class="moj-timeline" *ngIf="data.EVENTS && data.EVENTS.length">

        <ng-template ngFor let-option [ngForOf]="data.EVENTS" let-index="index">

          <div class="moj-timeline__item" [ngClass]="{ 'moj-timeline__item--primary govuk-!-margin-bottom-3': option.active }">
            <p class="govuk-body govuk-!-margin-0" [ngClass]="{
                          'govuk-heading-m ': option.active,
                          'govuk-heading-s moj-!-color-blue moj-util-clickable': !option.active
                        }">{{option.status}}</p>

            <table role="presentation" class="govuk-!-margin-0">
              <tbody>
              <tr>
                <td class="govuk-!-padding-0">
                  <p class="govuk-body moj-!-color-grey" [ngClass]="{ 'govuk-!-font-weight-bold govuk-!-margin-bottom-3': option.active }">{{option.primaryOffence}}</p>
                </td>
                <td width="110" class="govuk-!-padding-0">
                  <p class="govuk-body moj-!-color-grey">{{option.date}}</p>
                </td>
                <td width="100" class="govuk-!-padding-0">
                  <p class="govuk-body govuk-!-font-size-19 moj-!-text-align-right" [ngClass]="{ 'govuk-!-font-weight-bold moj-!-color-green': option.active, 'moj-!-color-red': !option.active }">{{option.active ? 'Active' : 'Terminated'}}</p>
                </td>
              </tr>
              </tbody>
            </table>

            <button type="button" class="govuk-button govuk-!-margin-bottom-2" (click)="startSFPSR()" *ngIf="option.active">Start</button>
          </div>

          <hr class="govuk-!-margin-2" *ngIf="!option.active && index < data.EVENTS.length - 1"/>

        </ng-template>

      </div>

    </div>

  </app-accordion-panel>
</div>
