<div class="moj-footer-compensate"></div>

<footer class="moj-report-footer">
  <div class="moj-report-footer__container">

    <div class="moj-auto-save">
      <div class="moj-auto-save__spinner">
        <div class="moj-auto-save__spinner__double-bounce1"></div>
        <div class="moj-auto-save__spinner__double-bounce2"></div>
      </div>
      <span class="govuk-body-xs">Changes saved</span>
    </div>

    <button id="nextButton" class="govuk-button moj-tooltip govuk-!-margin-bottom-1 govuk-!-margin-right-2" type="submit" *ngIf="continueEnabled" (click)="continue()">{{label}}<span>{{hint}}</span></button>

    <button id="closeButton" class="govuk-button moj-button--secondary moj-tooltip govuk-!-margin-bottom-1" type="button" (click)="saveDraft()" *ngIf="draftEnabled">Close<span>Save and close your report</span></button>

  </div>
</footer>
