<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="heading-xlarge">Sources</h1>

<div class="grid-row">
  <div class="column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="column-two-thirds">

    <div class="error-summary no-margin-top" *ngIf="formError && !reportForm.valid">
      <h2 class="heading-medium no-margin-top">There is a problem</h2>

      <p class="error-message" *ngIf="reportForm.get('reportsAssessmentsDirections').errors">List all the reports, assessments and directions you have used</p>
      <p class="error-message" *ngIf="reportForm.get('sourceLimitations').errors">Specify whether there are any omissions or limitations</p>
      <p class="error-message" *ngIf="reportForm.get('sourceLimitationExplanation').errors">Provide an explanation</p>
    </div>

   <p class="lede">Site all sources of information used to inform this PARAM 1</p>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <fieldset class="margin-bottom medium">

        <legend class="lede margin-bottom medium">Select all case documents you have used</legend>

        <!-- Loop through the "sections" specified in the controller: information-sources.component.ts -->
        <div class="multiple-choice" *ngFor="let document of documents; let i = index" [ngClass]="{ 'margin-top': i > 0 }">
          <input type="checkbox" role="checkbox" [id]="document.control" [formControlName]="document.control" value="true" />
          <label [for]="document.control" class="form-label-bold">{{document.label}}</label>
        </div>

        <div class="panel panel-border-narrow" [ngClass]="{ 'js-hidden': !reportForm.get('other').value }" [attr.aria-hidden]="!reportForm.get('other').value">

          <div class="form-group">
            <label for="otherDocuments">
              <span class="form-label-bold">Please enter the names of the other case documents</span>
            </label>
            <textarea id="otherDocuments" formControlName="otherDocuments" class="form-control wide" role="textbox" placeholder="Start typing here..."></textarea>
          </div>

        </div>

        <div class="clearfix"></div>

      </fieldset>

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="reportsAssessmentsDirections"
                      label="List all the reports, assessments and directions you have used for this PAROM 1"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError && reportForm.get('reportsAssessmentsDirections').errors" errorMessage="List all the reports, assessments and directions you have used">
      </app-text-entry>

      <div class="notice margin-bottom large">
        <i class="icon icon-important">
          <span class="visually-hidden">Important</span>
        </i>
        <strong class="bold-small">
          You must provide the details and authors of the reports, assessments and directions
        </strong>
      </div>

      <fieldset>

        <legend class="form-label-bold">Has any information not been made available to you or are there any limitations to the sources?</legend>
        <app-error-messages control="sentence" message="Specify whether there are any omissions or limitations" [active]="formError && reportForm.get('sourceLimitations').errors"></app-error-messages>

        <div class="multiple-choice margin-top medium">
          <input id="radio-1" type="radio" formControlName="sourceLimitations" value="Yes" [attr.aria-checked]="reportForm.get('sourceLimitations').value === 'Yes'" />
          <label for="radio-1">Yes</label>
        </div>

        <div class="multiple-choice">
          <input id="radio-2" type="radio" formControlName="sourceLimitations" value="No" [attr.aria-checked]="reportForm.get('sourceLimitations').value === 'No'" />
          <label for="radio-2">No</label>
        </div>
      </fieldset>

      <div class="panel panel-border-narrow" [ngClass]="{ 'js-hidden': !reportForm.get('sourceLimitations').value || reportForm.get('sourceLimitations').value === 'No' }" [attr.aria-hidden]="!reportForm.get('sourceLimitations').value || reportForm.get('sourceLimitations').value === 'No'">

        <!-- Angular component -->
        <app-text-entry [group]="reportForm" name="sourceLimitationExplanation"
                        label="Provide an explanation"
                        (onSaveContent)="saveContent(reportForm)">
        </app-text-entry>

      </div>

      <br/>

      <!-- ANGULAR COMPONENT -->
      <app-parom1-footer></app-parom1-footer>

    </form>

  </div>
</div>
