<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="govuk-heading-xl govuk-!-margin-top-6">Current risk assessment scores</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'rsrScore', error: 'Enter the risk of serious recidivism score' },
                    { name: 'ogrs3Percentage', error: 'Enter the OGRS3 probability of proven re-offending' },
                    { name: 'ogpProbability', error: 'Enter the OGP probability of proven non-violent type reoffending' },
                    { name: 'ovpProbability', error: 'Enter the OVP probability of proven violent type reoffending' },
                    { name: 'riskMatrix2000Completed', error: 'Specify if a Risk Matrix 2000 assessment has been completed' },
                    { name: 'saraCompleted', error: 'Specify if a Spousal Assault Risk Assessment (SARA) has been completed' }
                    ]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <app-input [group]="reportForm" name="rsrScore" [error]="formError" label="Risk of serious recidivism (RSR) score" help="For example 6.32 or 4.78" errorMessage="Enter the risk of serious recidivism score" required="true"></app-input>

      <app-input [group]="reportForm" name="ogrs3Percentage" [error]="formError" label="OGRS3 probability of proven reoffending" help="For example 23%" errorMessage="Enter the OGRS3 percentage of proven re-offending" required="true"></app-input>

      <app-input [group]="reportForm" name="ogpProbability" [error]="formError" label="OGP probability of proven non-violent type reoffending" help="For example 23%" errorMessage="Enter the OGP probability of proven non-violent type re-offending" required="true"></app-input>

      <app-input [group]="reportForm" name="ovpProbability" [error]="formError" label="OVP probability of proven violent type reoffending" help="For example 23%" errorMessage="Enter the OVP probability of proven violent type re-offending" required="true"></app-input>

      <app-radio-buttons [group]="reportForm" name="riskMatrix2000Completed" [error]="formError" label="Has a Risk Matrix 2000 assessment been completed?" errorMessage="Specify if a Risk Matrix 2000 assessment has been completed" [options]="['Yes', 'No']" conditional="true" required="true" inline="true">

        <ng-template let-option let-inline>
          <div class="govuk-radios__conditional" *ngIf="(option === 'Yes' || inline) && reportForm.get('riskMatrix2000Completed').value === 'Yes'">
            <app-radio-buttons [group]="reportForm" name="riskMatrix2000" label="Risk Matrix 2000" [options]="['Low', 'Medium', 'High', 'Very high']"></app-radio-buttons>
          </div>
        </ng-template>

      </app-radio-buttons>

      <app-radio-buttons [group]="reportForm" name="saraCompleted" [error]="formError" label="Has a Spousal Assault Risk Assessment (SARA) been completed?" errorMessage="Specify if a Spousal Assault Risk Assessment (SARA) has been completed" [options]="['Yes', 'No']" conditional="true" required="true" inline="true">

        <ng-template let-option let-inline>
          <div class="govuk-radios__conditional" *ngIf="(option === 'Yes' || inline) && reportForm.get('saraCompleted').value === 'Yes'">
            <app-radio-buttons [group]="reportForm" name="sara" label="Spousal Assault Risk Assessment (SARA)" [options]="['Low', 'Medium', 'High']"></app-radio-buttons>
          </div>
        </ng-template>

      </app-radio-buttons>

      <!-- ANGULAR COMPONENT -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
