<div class="grid-row margin-top">
  <div class="column-one-half">

    <div class="card">

      <div class="card-header">
        <p class="heading-medium no-margin">{{data.CURRENT_DISPOSAL ? 'Current offender' : 'Not current'}}</p>
      </div>
      <div class="card-body">
        <p class="no-margin text-blue font-small" *ngIf="data.CURRENT_DISPOSAL"><span class="bold">Provider:</span> NPS
          North West</p>
        <p class="no-margin text-blue font-small" *ngIf="data.CURRENT_DISPOSAL"><span
          class="bold">Offender manager:</span> Sarah Smith</p>
      </div>

    </div>

  </div>
  <div class="column-one-half">

    <div class="card">

      <div class="card-header">
        <p class="heading-medium no-margin">3 previous events</p>
      </div>
      <div class="card-body">
        <p class="no-margin text-blue"><span class="bold">1 active event:</span> Short Format Pre-Sentence Report (adjourned)</p>
      </div>

    </div>

  </div>
</div>
