<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="govuk-heading-xl govuk-!-margin-top-6">Oral hearing</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[{ name: 'oralHearingConsiderations', error: 'Enter the oral hearing considerations' }]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- ANGULAR COMPONENT -->
      <app-text-entry [group]="reportForm" name="oralHearingConsiderations"
                      label="Oral hearing considerations"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError" errorMessage="Enter the oral hearing considerations">

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
          <li>An explanation of the prisoner’s ability to effectively engage at the oral hearing so that appropriate provisions can be made.</li>
          <li>Consideration of the prisoner’s health, diversity or security information. For example, there is a working hearing loop or BSL if the prisoner is deaf or hard of hearing, there is an interpreter or intermediary if English is a second language or there is sufficient staff if the prisoner is on 6 man unlock.</li>
          <li>A statement confirming the necessary arrangements have been made.</li>
          <li>A statement confirming oral hearing considerations have been addressed if there are no issues.</li>
        </ul>
      </app-text-entry>

      <!-- ANGULAR COMPONENT -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
