<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="heading-xlarge">Current risk assessment</h1>

<div class="grid-row">
  <div class="column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'riskToThem', error: 'Specify whether the prisoner been assessed as posing a risk of harm to themselves' },
                    { name: 'riskToOthers', error: 'Specify whether the prisoner been assessed as posing a risk of harm to others' },
                    { name: 'seriousHarmOthers', error: 'Detail the nature of the risk of serious harm' },
                    { name: 'increaseFactors', error: 'Analyse the factors that may increase the risk of serious harm' },
                    { name: 'reductionFactors', error: 'Analyse the factors that may contribute towards a risk of serious harm reduction' },
                    { name: 'furtherOffending', error: 'Analyse the likelihood of further offending' }
                    ]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <div class="form-group">
        <p class="bold">Select the prisoner's likelihood of further offending level at the time of this report</p>
        <p>No UI for this yet</p>
      </div>

      <div class="form-group">
        <p class="bold">Select the prisoner's risk of serious harm level at the time of this report</p>
        <p>No UI for this yet</p>
      </div>

      <!-- ANGULAR COMPONENT -->
      <app-radio-buttons [group]="reportForm" name="riskToThem" [options]="['Within the community', 'Whilst in custody', 'Both', 'None']" required="true" [error]="formError"
                         label="Has the prisoner been assessed as posing a risk of harm to themselves within the community or whilst in custody?"
                         errorMessage="Specify if the prisoner has been assessed as posing a risk of harm to themselves">
      </app-radio-buttons>

      <br/>

      <!-- ANGULAR COMPONENT -->
      <app-radio-buttons [group]="reportForm" name="riskToOthers" [options]="['Within the community', 'Whilst in custody', 'Both', 'None']" required="true" [error]="formError"
                         label="Has the prisoner been assessed as posing a risk of harm to others within the community or whilst in custody?"
                         errorMessage="Specify if the prisoner has been assessed as posing a risk of harm to others">
      </app-radio-buttons>

      <br/>

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="seriousHarmOthers"
                      label="Detail the nature of the risk of serious harm to the identified groups and explain why"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError"
                      errorMessage="Detail the nature of the risk of serious harm">
        <ul>
          <li class="list-bullet">risk of self-harm</li>
          <li class="list-bullet">risk others pose to the prisoner</li>
        </ul>
      </app-text-entry>

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="increaseFactors"
                      label="Analyse the factors that may increase the risk of serious harm to all known groups, now or in the future"
                      help="Include identified patterns of behaviour and offending, consider offence parallel behaviours. Link this to your answers in 10.4"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError"
                      errorMessage="Analyse the factors that may increase the risk of serious harm">
      </app-text-entry>

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="reductionFactors"
                      label="Analyse the factors that may contribute towards a risk of serious harm reduction to all known groups"
                      help="Link this to your answer in 10.5"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError"
                      errorMessage="Analyse the factors that may contribute towards a risk of serious harm reduction">
      </app-text-entry>

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="furtherOffending"
                      label="Analyse the likelihood of further offending"
                      help="Consider the static and dynamic assessment scores in this report and the impact of further offending"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError"
                      errorMessage="Analyse the likelihood of further offending">
      </app-text-entry>

      <!-- ANGULAR COMPONENT -->
      <app-parom1-footer></app-parom1-footer>

    </form>

  </div>
</div>
