<nav role="menubar" class="js-stick-at-top-when-scrolling">

  <div *ngIf="!rla.active" class="margin-bottom medium">
    <a id="saveDraft" routerLink="/psr-addendum/save-draft" routerLinkActive="active" class="font-xsmall no-margin-top no-margin-bottom">Save a draft of this addendum</a>
  </div>

  <h3 class="font-xsmall bold no-margin-top margin-bottom">Report sections:</h3>

  <span class="display-block">- <a routerLink="/psr-addendum/offender-details" routerLinkActive="active" class="nav-item">Offender details</a></span>
  <span class="display-block">- <a routerLink="/psr-addendum/court-details" routerLinkActive="active" class="nav-item">Sentencing court details</a></span>
  <span class="display-block">- <a routerLink="/psr-addendum/addendum-detail" routerLinkActive="active" class="nav-item">Addendum detail</a></span>
  <span class="display-block">- <a routerLink="/psr-addendum/signature" routerLinkActive="active" #rla="routerLinkActive" class="nav-item">Signature</a></span>

</nav>
