<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="govuk-heading-xl govuk-!-margin-top-6">Sources</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'sourceLimitations', error: 'Specify whether there are any omissions or limitations' },
                    { name: 'sourceLimitationExplanation', error: 'Provide an explanation' },
                    { name: 'reportsAssessmentsDirections', error: 'List all the reports, assessments and directions you have used' }
                    ]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <app-checkboxes [group]="reportForm" [options]="documents" legend="Select all case documents you have used"></app-checkboxes>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="reportsAssessmentsDirections"
                      label="List all the reports, assessments and directions you have used for this PAROM 1"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError" errorMessage="List all the reports, assessments and directions you have used">

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
          <li>All written sources used and the author’s name and completion date - this can show changes in attitudes, behaviours and risks. For example, sentence planning notes, psychology reports and previous convictions.</li>
          <li>Documents and oral information included in the MAPPA minutes - these must be obtained from the agency as you cannot cite MAPPA minutes in this section.</li>
          <li>Information that can be shared with the prisoner. It must not contain information that could put others at risk, for example, the location of children or victims that prisoner is unaware of, MALRAP intelligence or the name and contact details of the VLO.</li>
          <li>Contact PPCS if you have disclosure concerns. Contact the Victim Liaison Unit if you have concerns about victims.</li>
        </ul>
      </app-text-entry>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

      <!-- ANGULAR COMPONENT -->
      <app-radio-buttons [group]="reportForm" name="sourceLimitations" [options]="['Yes', 'No']" required="true" [error]="formError" conditional="true" inline="true"
                         label="Has any information not been made available to you, or are there any limitations to the sources?"
                         errorMessage="Specify whether there are any omissions or limitations">

        <ng-template let-option let-inline>
          <div class="govuk-radios__conditional" *ngIf="(option === 'Yes' || inline) && reportForm.get('sourceLimitations').value === 'Yes'">

            <!-- Angular component -->
            <app-text-entry [group]="reportForm" name="sourceLimitationExplanation"
                            label="Provide an explanation"
                            (onSaveContent)="saveContent(reportForm)">

              <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
                <li>Limitations to the information, for example, an unavailable report.</li>
                <li>An explanation of the impact of the limitations on the overall assessment - the Parole Board might wish to pursue missing evidence if it is highlighted in advance of the oral hearing.</li>
                <li>Discrepancies between sources - evidence this.</li>
              </ul>
            </app-text-entry>
          </div>
        </ng-template>

      </app-radio-buttons>

      <!-- ANGULAR COMPONENT -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
