<nav class="sub-nav top-bar">

  <p class="nav-title">Report sections</p>

  <ul>
    <ng-template ngFor let-section [ngForOf]="sections" let-index="index">
      <li routerLinkActive="active" [routerLink]="section.route" class="sub-sub-item clickable"
          *ngIf="!section.dataOnly">- {{section.label}}
      </li>
    </ng-template>

    <li routerLinkActive="active" routerLink="/parom1/check-report" class="sub-sub-item clickable">
      - Check your report
    </li>
    <li routerLinkActive="active" routerLink="/parom1/signature" #rla="routerLinkActive"
        [ngClass]="{ 'js-hidden': !isValid }" class="sub-sub-item clickable">- Signature &amp; date
    </li>
  </ul>
</nav>
