<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="heading-xlarge">Victim issues</h1>

<div class="grid-row">
  <div class="column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'vloContactDate', error: 'Enter the date that you contacted the VLO' },
                    { name: 'victimContactService', error: 'Specify if the victim is engaged in the Victim Contact Service' },
                    { name: 'victimPersonalStatement', error: 'Specify if the victim wishes to submit a Victim Personal Statement' },
                    { name: 'impactOfOffence', error: 'Enter your analysis of the impact of the offence on the victim' }
                    ]">
    </app-form-error>

    <div class="govuk-interrupt">
      <p class="bold no-margin-bottom">This report will be disclosed to the prisoner.</p>

      <p class="font-xsmall">
        Consider how you present sensitive information in this section.
      </p>
    </div>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <div class="notice margin-bottom large">
        <i class="icon icon-important">
          <span class="visually-hidden">Important</span>
        </i>
        <strong class="font-small">
          You must contact the VLO for each hearing as part of designing the Risk Management Plan.
        </strong>
      </div>

      <!-- ANGULAR COMPONENT -->
      <app-input [group]="reportForm" name="vloContactDate" date="true" [error]="formError" required="true"
                 label="On what date did you contact the VLO?"
                 errorMessage="Enter the date that you contacted the VLO">
      </app-input>

      <!-- ANGULAR COMPONENT -->
      <app-radio-buttons [group]="reportForm" name="victimContactService" [options]="['Yes', 'No']" required="true" [error]="formError"
                         label="Are the victims engaged in the Victim Contact Service?"
                         errorMessage="Specify if the victim is engaged in the Victim Contact Service">
      </app-radio-buttons>

      <br/>

      <!-- ANGULAR COMPONENT -->
      <app-radio-buttons [group]="reportForm" name="victimPersonalStatement" [options]="['Yes', 'No']" required="true" [error]="formError"
                         label="Does the victim wish to submit a Victim Personal Statement?"
                         errorMessage="Specify if the victim wishes to submit a Victim Personal Statement">
        <div class="panel panel-border-narrow" [ngClass]="{ 'js-hidden': reportForm.get('victimPersonalStatement').value !== 'Yes' }" [attr.aria-hidden]="reportForm.get('victimPersonalStatement').value !== 'Yes'">
          <p>The VPS should be submitted with this report if possible.</p>
        </div>
        <br/>
      </app-radio-buttons>

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="impactOfOffence"
                      label="Analyse the impact of the offence on the victim"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError" errorMessage="Enter your analysis of the impact of the offence on the victim">
        <ul>
          <li class="list-bullet">impact on the victims - even if they are in the victim scheme</li>
          <li class="list-bullet">victims’ personal statement information</li>
          <li class="list-bullet">address the impact on all victims</li>
        </ul>
      </app-text-entry>

      <!-- ANGULAR COMPONENT -->
      <app-parom1-footer></app-parom1-footer>

    </form>

  </div>
</div>
