<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="govuk-heading-xl govuk-!-margin-top-6">Offender details</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <p class="govuk-body"><span class="govuk-!-font-weight-bold">Full name</span><br/>
        {{reportForm.get('name').value}}</p>

      <p class="govuk-body"><span class="govuk-!-font-weight-bold">Date of birth</span><br/>
        {{reportForm.get('dateOfBirth').value}}</p>

      <p class="govuk-body"><span class="govuk-!-font-weight-bold">Age</span><br/>
        {{reportForm.get('age').value}}</p>

      <p class="govuk-body"><span class="govuk-!-font-weight-bold">Delius CRN</span><br/>
        {{reportForm.get('crn').value}}</p>

      <p class="govuk-body"><span class="govuk-!-font-weight-bold">Address</span><br/>
        {{reportForm.get('address').value}}</p>

      <p class="govuk-body"><span class="govuk-!-font-weight-bold">PNC ID</span><br/>
        {{reportForm.get('pnc').value}}</p>

      <!-- Angular component -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
