<h1 class="heading-xlarge">Offender details</h1>

<div class="grid-row">
  <div class="column-one-third">

    <!-- Angular component -->
    <app-navigation></app-navigation>

  </div>
  <div class="column-two-thirds">

    <div class="error-summary no-margin-top" *ngIf="formError && !reportForm.valid">
      <h2 class="heading-medium no-margin-top">You need to fix the errors on this page before continuing</h2>

      <p>See highlighted errors below</p>

      <p class="error-message" *ngIf="reportForm.get('name').errors">Enter the offender’s full name</p>
      <p class="error-message" *ngIf="reportForm.get('dateOfBirth').get('day').errors || reportForm.get('dateOfBirth').get('month').errors || reportForm.get('dateOfBirth').get('year').errors">Enter the offender’s date of birth</p>
      <p class="error-message" *ngIf="reportForm.get('address').errors">Enter the offender’s address</p>
      <p class="error-message" *ngIf="reportForm.get('phone').errors">Enter the offender’s contact number</p>
    </div>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <div class="form-group" [ngClass]="{ 'form-group-error': (reportForm.get('name').touched || formError) && reportForm.get('name').errors }">

        <label for="name" class="form-label-bold">Full name</label>
        <app-error-messages control="name" message="Enter the offender’s full name" [active]="(reportForm.get('name').touched || formError) && reportForm.get('name').errors"></app-error-messages>
        <input class="form-control half-width" [ngClass]="{ 'form-control-error': (reportForm.get('name').touched || formError) && reportForm.get('name').errors }" type="text" role="textbox" id="name" formControlName="name" maxlength="250" aria-described-by="name_error" aria-required="true" required />

      </div>

      <!-- @TODO: This would normally be an Angular component; validation is messy when it isn't -->
      <div class="form-group" [formGroup]="reportForm.get('dateOfBirth')" [ngClass]="{ 'form-group-error': (reportForm.get('dateOfBirth').get('day').touched || reportForm.get('dateOfBirth').get('month').touched || reportForm.get('dateOfBirth').get('year').touched || formError) && (reportForm.get('dateOfBirth').get('day').errors || reportForm.get('dateOfBirth').get('month').errors || reportForm.get('dateOfBirth').get('year').errors) }">
        <fieldset>
          <legend>
            <span class="form-label-bold">Date of birth</span>
            <span class="form-hint">For example, 31 3 1980</span>
          </legend>
          <app-error-messages control="dateOfBirth" message="Enter the offender’s date of birth" [active]="(reportForm.get('dateOfBirth').get('day').touched || reportForm.get('dateOfBirth').get('month').touched || reportForm.get('dateOfBirth').get('year').touched || formError) && (reportForm.get('dateOfBirth').get('day').errors || reportForm.get('dateOfBirth').get('month').errors || reportForm.get('dateOfBirth').get('year').errors)"></app-error-messages>
          <div class="form-date">
            <div class="form-group form-group-day">
              <label class="form-label" for="dob-day">Day</label>
              <input class="form-control" [ngClass]="{ 'form-control-error': (reportForm.get('dateOfBirth').get('day').touched || formError) && reportForm.get('dateOfBirth').get('day').errors }" id="dob-day" name="dob-day" formControlName="day" type="number" pattern="[0-9]*" min="0" max="31" aria-described-by="dateOfBirth_error" aria-required="true" required />
            </div>
            <div class="form-group form-group-month">
              <label class="form-label" for="dob-month">Month</label>
              <input class="form-control" [ngClass]="{ 'form-control-error': (reportForm.get('dateOfBirth').get('month').touched || formError) && reportForm.get('dateOfBirth').get('month').errors }" id="dob-month" name="dob-month" formControlName="month" type="number" pattern="[0-9]*" min="0" max="12" aria-described-by="dateOfBirth_error" aria-required="true" required />
            </div>
            <div class="form-group form-group-year">
              <label class="form-label" for="dob-year">Year</label>
              <input class="form-control" [ngClass]="{ 'form-control-error': (reportForm.get('dateOfBirth').get('year').touched || formError) && reportForm.get('dateOfBirth').get('year').errors }" id="dob-year" name="dob-year" formControlName="year" type="number" pattern="[0-9]*" min="0" max="2016" aria-described-by="dateOfBirth_error" aria-required="true" required />
            </div>
          </div>
        </fieldset>
      </div>

      <div class="form-group" [ngClass]="{ 'form-group-error': (reportForm.get('address').touched || formError) && reportForm.get('address').errors }">

        <label for="address" class="form-label-bold">Address</label>
        <app-error-messages control="name" message="Enter the offender’s address" [active]="(reportForm.get('address').touched || formError) && reportForm.get('address').errors"></app-error-messages>
        <textarea class="form-control classic wide" [ngClass]="{ 'form-control-error': (reportForm.get('address').touched || formError) && reportForm.get('address').errors }" type="text" role="textbox" id="address" formControlName="address" aria-described-by="address_error" aria-required="true" required></textarea>

      </div>

      <div class="form-group" [ngClass]="{ 'form-group-error': (reportForm.get('phone').touched || formError) && reportForm.get('phone').errors }">
        <label for="phone">
          <span class="form-label-bold">Contact number</span>
        </label>
        <app-error-messages control="phone" message="Enter the contact number" [active]="(reportForm.get('phone').touched || formError) && reportForm.get('phone').errors"></app-error-messages>
        <input class="form-control half-width" [ngClass]="{ 'form-control-error': (reportForm.get('phone').touched || formError) && reportForm.get('phone').errors }" type="text" role="textbox" id="phone" formControlName="phone" value="" maxlength="250" aria-described-by="phone_error" aria-required="true" required />
      </div>

      <div class="form-group">

        <label for="pnc" class="form-label-bold">PNC ID (if availabe)</label>
        <input class="form-control half-width" type="text" role="textbox" id="pnc" formControlName="pnc" maxlength="10" />

      </div>

      <div class="form-group">
        <label for="crn" class="form-label-bold">Delius CRN</label>
        <input class="form-control half-width no-border" id="crn" formControlName="crn" type="text" aria-readonly="true" readonly />
      </div>

      <input id="nextButton" class="button" type="submit" value="Save & continue" />

    </form>

  </div>
</div>
