<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="govuk-heading-xl govuk-!-margin-top-6">Offender details</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- Angular component -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'name', error: 'Enter the offender’s full name' },
                    { name: 'dateOfBirth', error: 'Enter the offender’s date of birth' },
                    { name: 'address', error: 'Enter the offender’s address' },
                    { name: 'phone', error: 'Enter the offender’s contact number' }
                    ]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- Angular component -->
      <app-input [group]="reportForm" name="name" required="true" [error]="formError" label="Full name"
                 errorMessage="Enter the offender’s full name"></app-input>

      <!-- Angular component -->
      <app-three-field-date [group]="reportForm" name="dateOfBirth"
                            label="Date of birth"
                            help="For example, 31 3 1982"></app-three-field-date>

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="address" [error]="formError" label="Address" errorMessage="Enter the offender's address" classic="true" required="true"></app-text-entry>

      <!-- Angular component -->
      <app-input [group]="reportForm" name="phone" required="true" [error]="formError" label="Contact number"
                 errorMessage="Enter the contact number"></app-input>

      <!-- Angular component -->
      <app-input [group]="reportForm" name="pnc" [error]="formError" label="PNC ID"
                 help="If available in CPS documentation"></app-input>

      <div class="form-group">
        <label for="crn" class="form-label-bold">Delius CRN</label>
        <input class="form-control half-width no-border" id="crn" formControlName="crn" type="text" aria-readonly="true" readonly />
      </div>

      <!-- Angular component -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
