<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="heading-xlarge">Signature and date</h1>

<div class="grid-row">
  <div class="column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'reportAuthor', error: 'Enter the report author' },
                    { name: 'division', error: 'Enter the NPS Division and LDU' },
                    { name: 'address', error: 'Enter the office address' },
                    { name: 'email', error: 'Enter the email address' },
                    { name: 'phone', error: 'Enter the telephone number and extension' },
                    { name: 'reportDate', error: 'Enter the report date' }
                    ]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- ANGULAR COMPONENT -->
      <app-input [group]="reportForm" name="reportAuthor" [error]="formError" required="true"
                 label="Name"
                 errorMessage="Enter the report author"></app-input>

      <!-- ANGULAR COMPONENT -->
      <app-input [group]="reportForm" name="division" [error]="formError" required="true"
                 label="NPS Division and LDU"
                 errorMessage="Enter the NPS Division and LDU"></app-input>

      <div class="form-group half-width" [ngClass]="{ 'form-group-error': (reportForm.get('address').touched || formError) && reportForm.get('address').errors }">
        <label for="address" class="form-label-bold">Office address</label>
        <app-error-messages control="address" message="Enter the office address" [active]="(reportForm.get('address').touched || formError) && reportForm.get('address').errors"></app-error-messages>
        <textarea class="form-control classic" [ngClass]="{ 'form-control-error': (reportForm.get('address').touched || formError) && reportForm.get('address').errors }" type="text" role="textbox" id="address" formControlName="address" aria-described-by="address_error" aria-required="true" required></textarea>
      </div>

      <!-- ANGULAR COMPONENT -->
      <app-input [group]="reportForm" name="email" [error]="formError" required="true"
                 label="Email address"
                 errorMessage="Enter the email address"></app-input>

      <!-- ANGULAR COMPONENT -->
      <app-input [group]="reportForm" name="phone" [error]="formError" required="true"
                 label="Telephone number and extension"
                 errorMessage="Enter the telephone number and extension"></app-input>

      <!-- ANGULAR COMPONENT -->
      <app-input [group]="reportForm" name="counterSignature"
                 label="Name of counter signature (if required)"></app-input>

      <!-- ANGULAR COMPONENT -->
      <app-input [group]="reportForm" name="counterSignatureRole"
                 label="Role of counter signature"></app-input>

      <div class="form-group">
        <label for="startDate" class="form-label-bold">Start date</label>
        <input class="form-control half-width no-border" id="startDate" formControlName="startDate" type="text" aria-readonly="true" readonly />
      </div>

      <!-- ANGULAR COMPONENT -->
      <app-input [group]="reportForm" name="reportDate" [error]="formError" required="true" date="true"
                 label="Completion date"
                 help="For example: 28/06/2017"
                 errorMessage="Enter the report date"></app-input>

      <app-footer [draftEnabled]="false" label="Submit" hint="Submit and view your report"></app-footer>

    </form>

  </div>
</div>
