<h1 class="heading-xlarge">Prototype <span class="font-xsmall">{{version}}</span></h1>

<h2 class="lede">Select the required prototype journey for consideration</h2>

<ul class="margin-top large">
  <li class="list-bullet"><a id="parom1" routerLink="/parom1/start-report" [queryParams]="queryParams">Parole Report - Parom 1</a></li>
  <li class="list-bullet"><a id="parom1-omic" routerLink="/parom1-omic/start-report" [queryParams]="queryParams">Parole Report - Parom 1 (OMIC)</a></li>
  <li class="list-bullet"><a id="sfpsr" routerLink="/sfpsr/start-report" [queryParams]="queryParams">Short Format Pre-Sentence Report</a></li>
  <li class="list-bullet"><a id="psr-addendum" routerLink="/psr-addendum/start-report" [queryParams]="queryParams">Pre-Sentence Report Addendum</a></li>
</ul>
