<h1 class="govuk-heading-xl govuk-!-margin-top-6">Prototype <span class="govuk-body-xs">{{version}}</span></h1>

<app-notice>
  No real data is used anywhere within this prototype.<br/>
  Any resemblance to actual persons, living or dead, or actual events is purely coincidental.
</app-notice>

<h2 class="govuk-caption-xl">Select the required prototype journey for consideration</h2>

<table class="govuk-table moj-table moj-table--split-rows" role="presentation">
  <thead>
  <tr>
    <th>Journey</th>
    <th width="175">Status</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <a id="sfpsr" routerLink="/sfpsr/start-report" [queryParams]="queryParams">Short Format Pre-Sentence Report</a>
    </td>
    <td>
      <span class="app-status-tag">recommended</span>
    </td>
  </tr>
  <tr>
    <td>
      <a id="psr-addendum" routerLink="/psr-addendum/start-report" [queryParams]="queryParams">Pre-Sentence Report Addendum</a>
    </td>
    <td>
      <span class="app-status-tag">recommended</span>
    </td>
  </tr>
  <ng-template ngFor let-offender [ngForOf]="parom1Offenders" let-index="index">
  <tr>
    <td>
      <a id="parom1" routerLink="/parom1/start-report" [queryParams]="offender">Parole Report - Parom 1 ({{offender.name}})</a>
    </td>
    <td>
      <span class="app-status-tag">recommended</span>
    </td>
  </tr>
  </ng-template>
  <!--
  <tr>
    <td>
      <a id="parom1-omic" routerLink="/parom1-omic/start-report" [queryParams]="queryParams">Parole Report - Parom 1 (OMIC)</a>
    </td>
    <td>
      <span class="govuk-tag moj-tag--prototype govuk-phase-banner__content__tag">experimental</span>
    </td>
  </tr>
  -->
  </tbody>
</table>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m">Experimental design patterns</h2>

<p class="govuk-body">Not currently recommended design patterns for user evaluation and feedback.</p>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text"> Offender summary screens </span>
  </summary>
  <div class="govuk-details__text">

    <table class="govuk-table moj-table moj-table--split-rows" role="presentation">
      <thead>
      <tr>
        <th>Offender</th>
        <th>CRN</th>
        <th>Date of birth</th>
        <th>RoSH</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>

      <ng-template ngFor let-offender [ngForOf]="offenderData" let-index="index">
        <tr>
          <td>{{offender._source.SURNAME + ', ' + offender._source.FIRST_NAME}}</td>
          <td>{{offender._source.CRN}}</td>
          <td>{{pipeDate(offender._source.DATE_OF_BIRTH_DATE)}}</td>
          <td>
            <span class="moj-risk-tag" *ngIf="offender._source.CURRENT_HIGHEST_RISK_COLOUR"
                  [ngClass]="{
                      'moj-risk-tag--low': offender._source.CURRENT_HIGHEST_RISK_COLOUR.toLowerCase() === 'green',
                      'moj-risk-tag--medium': offender._source.CURRENT_HIGHEST_RISK_COLOUR.toLowerCase() === 'amber',
                      'moj-risk-tag--high': offender._source.CURRENT_HIGHEST_RISK_COLOUR.toLowerCase() === 'red'
                    }">{{offender._source.CURRENT_HIGHEST_RISK_COLOUR.toLowerCase() === 'green' ? 'low' : offender._source.CURRENT_HIGHEST_RISK_COLOUR.toLowerCase() === 'amber' ? 'medium' : offender._source.CURRENT_HIGHEST_RISK_COLOUR.toLowerCase() === 'red' ? 'high' : 'none' }}</span>
          </td>
          <td><a [id]="'offender-summary-' + index" routerLink="/offender-summary" [queryParams]="{ offender: index }">View</a>
          </td>
        </tr>
      </ng-template>

      </tbody>
    </table>

  </div>
</details>
