.moj-accordion {
  @include _govuk-responsive-spacing(2, padding, top);
  @include _govuk-responsive-spacing(2, padding, bottom);
  @include govuk-clearfix;

  .moj-accordion__toggle {
    display: inline-block;
    float: right;
    color: govuk-colour("black");
  }
}
