.govuk-button {
  &.moj-button--inverted {
    background-image: url(/assets/images/icon-pointer--blue.png);
    background-color: govuk-colour("white");
    color: govuk-colour("blue");

    &:hover {
      background-color: govuk-colour("grey-4");
    }
  }
  &.moj-button--secondary {
    background: govuk-colour("grey-3");
    color: govuk-colour("grey-1");
    box-shadow: 0 2px 0 govuk-colour("grey-2");

    &:hover {
      background: govuk-colour("grey-2");
      color: govuk-colour("black");
      box-shadow: 0 2px 0 govuk-colour("grey-1");
    }
  }
}
