.moj-card {

  .moj-card__header {
    @include _govuk-responsive-spacing(2, padding, all);
    @include _govuk-responsive-spacing(1, padding, top);
    @include _govuk-responsive-spacing(1, padding, bottom);
    border: 1px solid govuk-colour("grey-3");
    background: govuk-colour("grey-3");
    color: govuk-colour("grey-1");
  }

  .moj-card__body {
    @include _govuk-responsive-spacing(2, padding, all);
    background: govuk-colour("grey-4");
    border: 1px solid govuk-colour("grey-3");
    min-height: 72px;
  }

  .moj-card__body--no-border {
    border: 0;
  }

  @include media(mobile) {
    @include _govuk-responsive-spacing(2, margin, bottom);
  }
}
