.moj-choice {
  .moj-choice__main {
    border: 2px solid govuk-colour("grey-1");
    min-height: 150px;
    cursor: pointer;
    padding: govuk-spacing(9) govuk-spacing(6);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: govuk-colour("blue");
    text-decoration: underline;

    &.moj-choice__main--active {
      background: govuk-colour("grey-1");
      color: white;
      text-decoration: none;
    }
  }

  &:first-child {
    padding: 15px 0 15px 15px;
    .moj-choice__main {
      border-right: 0;
    }
  }

  &:last-child {
    padding: 15px 15px 15px 0;
  }

  @include govuk-media-query(mobile, tablet) {
    &:first-child {
      .moj-choice__main {
        border: 2px solid govuk-colour("grey-1");
      }
    }
    &:first-child, &:last-child {
      padding: govuk-spacing(2);
    }
  }
}
