.date-picker {
  max-width: 275px;

  @include media(mobile) {
    max-width: 100%;
  }
}

td.month {
  vertical-align: middle;
}

/*
 * sizes and positions
 */
a.datepicker-button {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 34px;
  height: 34px;
  background: #e9e9e9 file-url("icon-calendar.svg") center/20px no-repeat;
  border: $text-colour 2px solid;
  border-left: 0;
  top: 12px;
}
div.datepicker-calendar {
  display: none;
  background-color: #FFF;
  margin: 0 10px 10px 0;
  font-size: .9em;
  padding: 2px;
  width: 100%;
  border: $text-colour 2px solid;
  border-top: 0;
  border-radius: 0;
  max-width: 267px;
  z-index: 50;
}

div.datepicker-calendar div.datepicker-month-fast-prev,
div.datepicker-calendar div.datepicker-month-fast-next {
  display: none !important;
}

div.datepicker-calendar div.datepicker-month-wrap {
  margin: 0;
  padding-top: 1px;
  text-align: center;
  height: 30px;
}

div.datepicker-calendar div.datepicker-month-fast-prev.disabled,
div.datepicker-calendar div.datepicker-month-fast-next.disabled ,
div.datepicker-calendar div.datepicker-month-prev.disabled,
div.datepicker-calendar div.datepicker-month-next.disabled {
  border: none;
  cursor: default;
  color:  #999;
}
div.datepicker-calendar div.datepicker-month-fast-prev,
div.datepicker-calendar div.datepicker-month-fast-next,
div.datepicker-calendar div.datepicker-month-prev,
div.datepicker-calendar div.datepicker-month-next {
  box-sizing: border-box;
  cursor: pointer;
  margin: 3px;
  width: 24px;
  height: 24px;
  padding-top: 3px;

  &:after {
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
  }
}

div.datepicker-calendar div.datepicker-month-prev {
  &:after {
    border-width: 6px 10.4px 6px 0;
    border-color: transparent $border-colour transparent transparent;
  }
}

div.datepicker-calendar div.datepicker-month-next {
  &:after {
    border-width: 6px 0 6px 10.4px;
    border-color: transparent transparent transparent $border-colour;
  }
}

div.datepicker-calendar div.datepicker-month-fast-prev {
  padding-right: 2px;
  &:after {
    border-width: 6px 10.4px 6px 0;
    border-color: transparent $border-colour transparent transparent;
  }
}

div.datepicker-calendar div.datepicker-month-fast-next {
  padding-left: 2px;
}

div.datepicker-calendar div.datepicker-month-prev.enabled:hover,
div.datepicker-calendar div.datepicker-month-prev.enabled:focus {
  &:after {
    border-width: 6px 10.4px 6px 0;
    border-color: transparent $text-colour transparent transparent;
  }
}

div.datepicker-calendar div.datepicker-month-next.enabled:hover,
div.datepicker-calendar div.datepicker-month-next.enabled:focus {
  &:after {
    border-width: 6px 0 6px 10.4px;
    border-color: transparent transparent transparent $text-colour;
  }
}

div.datepicker-calendar div.datepicker-month {
  margin: -30px 46px 2px 46px;
  height: 24px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  padding-top: 1px;
}
div.datepicker-calendar div.datepicker-month:after {
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10.4px 6px 0 6px;
  border-color: $border-colour transparent transparent transparent;
}
div.datepicker-calendar div.datepicker-month:hover,
div.datepicker-calendar div.datepicker-month:focus {
  &:after {
    border-color: $text-colour transparent transparent transparent;
  }
}
div.datepicker-calendar table.datepicker-grid {
  width: 100%;
  font-size: 1.2em;
  text-align: center;
}
div.datepicker-calendar table.datepicker-grid.rtl {
  direction: rtl;
}
div.datepicker-calendar table.datepicker-grid:focus {
  outline: 1px dotted #999;
}
div.datepicker-calendar table.datepicker-grid th,
div.datepicker-calendar table.datepicker-grid td{
  text-align: center;
  padding: 0;
}
div.datepicker-calendar table.datepicker-grid th abbr{
  border: none;
}
div.datepicker-calendar table.datepicker-grid td {
  cursor: pointer;
  border:  none;
  color: #000;
}
div.datepicker-calendar table.datepicker-grid td.unselectable {
  cursor: default;
  color: #999;
}
div.datepicker-calendar table.datepicker-grid th,
div.datepicker-calendar table.datepicker-grid td.day {
  height: 30px;
}
div.datepicker-calendar table.datepicker-grid td.month {
  height: 60px;
}
div.datepicker-calendar table.datepicker-grid td.year {
  height: 45px;
}
div.datepicker-calendar table.datepicker-grid td.curDay,
div.datepicker-calendar table.datepicker-grid td.curMonth,
div.datepicker-calendar table.datepicker-grid td.curYear {
  border: 1px solid #999;
  background-color: #FFF0C4;
}
div.datepicker-calendar table.datepicker-grid td.empty {
  border:  none;
  background-color: #F9F9F9;
  cursor: default;
  &:hover {
    background-color: #F9F9F9;
  }
}
div.datepicker-calendar .offscreen {
  position: absolute;
  left: -200em;
  top: -100em;
}
.datepicker-overlay {
  background: #777;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  height: 100%;
  min-height: 100%;
  z-index: 40;
}
div.datepicker-calendar button.datepicker-close {
  height: 30px;
  width: 100%;
  font-weight: bold;
  margin-top: 1px;
  border: 1px solid #eee;
  border-radius: 0;
  background-color: #522A3F;
  color: #FFF;
}

// Default theme colours

div.datepicker-calendar.default table.datepicker-grid:focus {
  outline: 1px dotted #999;
}
div.datepicker-calendar.default tr.datepicker-weekdays {
  border-top:  1px solid #999;
  border-bottom:  1px solid #999;
}
div.datepicker-calendar.default table.datepicker-grid th {
  background-color: #EEE;
  border:  none;
}
div.datepicker-calendar.default table.datepicker-grid td.selectable:hover,
div.datepicker-calendar.default table.datepicker-grid td.selectable.focus {
  background-color: #DDD;
}
