textarea.form-control {
  max-width: 100%;

  margin: 10px 0 0 0;
  resize: none;
  border: 0;
  padding-left: 0;
  overflow: auto;

  @include ie(8) {
    height: 8em;
    border: 2px solid !important;
  }

  &::placeholder {
    font-size: 25px;
  }

  &.wide {
    width: 100%;
  }

  &.classic {
    border: 2px solid $text-colour;
    min-height: 150px;
  }

  &.form-control-error {
    // border: 4px solid $error-colour;
  }
}

input[type="text"], input[type="number"] {
  width: 100%; // Override default

  &.half-width {
    width: 50%;
  }

  &.quarter-width {
    width: 25%;
  }

  &.two-digit {
    width: 50px;
  }

  &.no-border {
    border: none;
  }
}

input[type="checkbox"] {
  @include ie(8) {
    filter: none !important;
    opacity: 1 !important;
  }
}

input[type="checkbox"].right {
  +label {
    span {
      padding-top: 4px;
      padding-right: 40px;
    }

    &:before {
      left: auto;
      right: 0;
    }
    &:after {
      left: auto;
      right: 8px;
    }
  }
}

.button {
  &.interrupt {
    @include bold-24;
    padding: em(7) em(16) em(4) em(16);
    background: white;
    color: $govuk-blue;
  }
  &.secondary {
    background: $grey-3;
    color: black;
    @include box-shadow(0 2px 0 darken($grey-3, 15%));
  }
}

// Override the input style to match the new GOV.UK Design System
.autocomplete__input {
  @include govuk-font($size: 19);
  @include govuk-focusable;
  height: 40px;
  margin-top: 0;
  padding: govuk-spacing(1);
  border: $govuk-border-width-form-element solid $govuk-input-border-colour;
  border-radius: 0;
}

.govuk-textarea {

  &.moj-textarea {
    resize: none;
    border: 0;
    padding-left: 0;
    overflow: auto;
    @include govuk-responsive-margin(3, bottom);

    &::placeholder {
      @include govuk-font(24);
    }

    &.moj-textarea--classic {
      border: 2px solid $govuk-text-colour;
      min-height: 150px;
      @include govuk-responsive-padding(2);
    }
  }
}
