.govuk-input {
  &.moj-input--readonly {
    border: 0;
    padding-left: 0;
  }
}

.govuk-textarea {

  &.moj-textarea {
    resize: none;
    border: 0;
    padding-left: 0;
    overflow: auto;
    @include govuk-responsive-margin(3, bottom);

    &::placeholder {
      @include govuk-font(24);
    }

    &.moj-textarea--classic {
      border: 2px solid $govuk-text-colour;
      min-height: 150px;
      @include govuk-responsive-padding(2);
    }
  }
}
