a, a:link, a:active, a:visited {
  color: $govuk-blue;
}

nav {
  position: absolute;
  top: 50px;
  width: 250px;
  background: #162c58;
  color: white;
  z-index: 1;

  &.push-down {
    top: 100px;
  }

  li {
    font-size: 14px;
    padding: 8px 10px;

    &.sub-item {
      background: #26549B;
      padding-left: 30px;
    }

    &.sub-sub-item {
      background: #2069b8;
      padding-left: 60px;
    }

    &.active {
      background: #e0e0e0;
      color: black;
    }
  }

  &.top-nav {
    position: relative;
    top: 14px;
    right: 20px;
    background: transparent;
    width: auto;
    color: gray;
    font-size: 14px;
    float: right;

    @include media(mobile) {
      display: none;
    }
  }
}

nav.content-fixed {
  margin-top: 20px;
}
