a, a:link, a:active, a:visited {
  color: $govuk-blue;
}

nav {
  position: absolute;
  top: 50px;
  width: 250px;
  background: #162c58;
  color: white;
  z-index: 1;

  &.push-down {
    top: 100px;
  }

  li {
    font-size: 14px;
    padding: 8px 10px;

    &.sub-item {
      background: #26549B;
      padding-left: 30px;
    }

    &.active {
      background: #e0e0e0;
      color: black;
    }
  }

  &.top-nav {
    position: relative;
    top: 14px;
    right: 20px;
    background: transparent;
    width: auto;
    color: gray;
    font-size: 14px;
    float: right;

    @include media(mobile) {
      display: none;
    }
  }
}

nav.content-fixed {
  margin-top: 20px;
}

nav {

  &.moj-navigation {
    background: transparent;
    position: relative;
    top: 0;

    &.moj-navigation--top-bar {
      border-top: $govuk-blue 10px solid;
    }
  }
}

nav li {

  &.moj-left-navigation {
    list-style: none;
    background: transparent;
    color: govuk-colour("blue");
    font-size: 16px;
    text-decoration: underline;
    padding: 3px 10px;
    cursor: pointer;

    &.moj-left-navigation--active {
      background: transparent;
      color: #162c58;
      text-decoration: none;
      cursor: default;
    }
  }
}
