.moj-risk-alert {
  @include govuk-font(27, bold);

  text-align: center;
  padding: 15px;
  color: govuk-colour("grey-1");
  border: 3px solid govuk-colour("grey-1");
  @include _govuk-responsive-spacing(8, margin, top);

  @include govuk-media-query(mobile, tablet) {
    @include _govuk-responsive-spacing(0, margin, top);
    @include _govuk-responsive-spacing(2, margin, bottom);
  }

  &.moj-risk-alert--high {
    color: govuk-colour("bright-red");
    border-color: govuk-colour("bright-red");
  }

  &.moj-risk-alert--medium {
    color: govuk-colour("yellow");
    border-color: govuk-colour("yellow");
  }

  &.moj-risk-alert--low {
    color: govuk-colour("light-green");
    border-color: govuk-colour("light-green");
  }

  &.moj-risk-alert--small {
    @include govuk-font(19, bold);
    @include _govuk-responsive-spacing(2, padding, all);
    @include _govuk-responsive-spacing(3, margin, top);

    @include govuk-media-query(mobile, tablet) {
      @include _govuk-responsive-spacing(2, margin, top);
    }
  }
}

.moj-risk-tag {
  display: inline-block;
  @include govuk-font(14);
  @include _govuk-responsive-spacing(1, padding, top);
  @include _govuk-responsive-spacing(1, padding, bottom);
  @include _govuk-responsive-spacing(4, padding, left);
  @include _govuk-responsive-spacing(4, padding, right);

  border: 1px solid govuk-colour("grey-1");
  color: govuk-colour("grey-1");
  min-width: 100px;
  text-align: center;

  &.moj-risk-tag--low, &.moj-risk-tag--medium, &.moj-risk-tag--high {
    color: govuk-colour("white");
    border: 0;
  }

  &.moj-risk-tag--low {
    background: $green;
  }

  &.moj-risk-tag--medium {
    background: $yellow;
  }

  &.moj-risk-tag--high {
    background: $red;
  }
}
