.moj-risk-alert {
  @include govuk-font(27, bold);
  @include govuk-responsive-margin(8, top);
  @include govuk-responsive-padding(3, all);
  @include govuk-media-query(mobile, tablet) {
    @include govuk-responsive-margin(0, top);
    @include govuk-responsive-margin(2, bottom);
  }

  text-align: center;
  color: govuk-colour("grey-1");
  border: 3px solid govuk-colour("grey-1");

  &.moj-risk-alert--high {
    color: govuk-colour("bright-red");
    border-color: govuk-colour("bright-red");
  }

  &.moj-risk-alert--medium {
    color: govuk-colour("yellow");
    border-color: govuk-colour("yellow");
  }

  &.moj-risk-alert--low {
    color: govuk-colour("light-green");
    border-color: govuk-colour("light-green");
  }

  &.moj-risk-alert--small {
    @include govuk-font(19, bold);
    @include govuk-responsive-padding(2, all);
    @include govuk-responsive-margin(3, top);

    @include govuk-media-query(mobile, tablet) {
      @include govuk-responsive-margin(2, top);
    }
  }
}

.moj-risk-tag {
  @include govuk-font(14);
  @include govuk-responsive-padding(1, top);
  @include govuk-responsive-padding(1, bottom);
  @include govuk-responsive-padding(4, left);
  @include govuk-responsive-padding(4, right);

  display: inline-block;
  border: 1px solid govuk-colour("grey-1");
  color: govuk-colour("grey-1");
  min-width: 100px;
  text-align: center;

  &.moj-risk-tag--low, &.moj-risk-tag--medium, &.moj-risk-tag--high {
    color: govuk-colour("white");
    border: 0;
  }

  &.moj-risk-tag--low {
    background: $green;
  }

  &.moj-risk-tag--medium {
    background: $yellow;
  }

  &.moj-risk-tag--high {
    background: $red;
  }
}
