.moj-table {
  &.moj-table--split-rows {

    thead tr {
      border-bottom: 2px solid govuk-colour("black");
    }

    tbody tr {
      border-bottom: 1px solid govuk-colour("grey-3");

      &:last-child {
        border: 0;
      }
    }
  }

  &.moj-table--no-border {
    border: 0;
  }
}
