.govuk-tag {
  &.moj-tag--prototype {
    background-color: govuk-colour("red");
  }
}

.moj-page-status-tag {
  @include govuk-font($size: 16);

  display: inline-block;
  color: govuk-colour("white");
  margin: 0;
  width: 135px;
  text-align: center;
  padding-top: govuk-spacing(1);
  padding-bottom: govuk-spacing(1);
  border-bottom: 1px solid govuk-colour("black");
  text-transform: uppercase;

  &.moj-page-status-tag--saved {
    background-color: govuk-colour("blue");
  }

  &.moj-page-status-tag--incomplete {
    background-color: govuk-colour("orange");
  }

  &.moj-page-status-tag--empty {
    border: 1px solid govuk-colour("grey-2");
    background-color: govuk-colour("white");
    color: govuk-colour("grey-2");
  }
}
