.font-xxsmall {
  @include core-14();
}

.bold-xxsmall {
  @include bold-14();
}

.align-center {
  text-align: center;
}

.font-regular {
  font-weight: 100 !important;
}

.error-invalid {
  color: $error-colour;
}

.title {
  display: inline-block;
  padding: 10px 0 0 15px;
  font-size: 21px;
  color: gray;
}

.text-white {
  color: white;
}

.text-blue {
  color: #2069b8;
}

.text-green {
  color: $green;
}

.text-red {
  color: $red;
}

.text-grey {
  color: gray;
}

/*
  MOJ Pattern Library
 */

.moj-\!-color-white {
  color: govuk-colour("white");
}

.moj-\!-color-blue {
  color: govuk-colour("blue");
}

.moj-\!-color-grey {
  color: govuk-colour("grey-1");
}

.moj-\!-color-green {
  color: govuk-colour("green");
}

.moj-\!-color-red {
  color: govuk-colour("red");
}

.moj-\!-text-align-center {
  text-align: center;
}

.moj-\!-text-align-right {
  text-align: right;
}
