.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clickable {
  cursor: pointer;
}

.omit-mobile {
  @include media(mobile) {
    display: none;
  }
}

.column-one-half {
  &.no-padding-left {
    @include media(tablet) {
      padding-left: 0;
    }
  }

  &.no-padding-right {
    @include media(tablet) {
      padding-right: 0;
    }
  }
}
