<div class="grid-row">
  <div class="column-one-half no-padding-right">

    <table class="split-rows" role="presentation">
      <tr>
        <td class="bold" width="50%">Telephone</td>
        <td>0114 114 114</td>
      </tr>
      <tr>
        <td class="bold">Email</td>
        <td>alice.smith@gmail.com</td>
      </tr>
    </table>

  </div>
  <div class="column-one-half no-padding-left">

    <table class="split-rows" role="presentation">
      <tr>
        <td class="bold" width="50%">Mobile</td>
        <td>07777 777 777</td>
      </tr>
      <tr>
        <td class="bold">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>

  </div>
</div>
