<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="govuk-heading-xl govuk-!-margin-top-6">RoSH at point of sentence</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'roshCompleted', error: 'Specify whether a RoSH assessment was completed at the point of sentence' },
                    { name: 'attitude', error: 'Enter the prisoner\'s attitude to index offence' },
                    { name: 'attitudePrevious', error: 'Enter the prisoner\'s to their previous offending' }
                    ]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <app-radio-buttons [group]="reportForm" [error]="formError" name="roshCompleted"
                         label="Was a RoSH assessment completed at the point of sentence?"
                         errorMessage="Specify whether a RoSH assessment was completed at the point of sentence"
                         [options]="['Yes', 'No']" required="true" conditional="true" inline="true">

        <ng-template let-option let-inline>

          <div class="govuk-radios__conditional" *ngIf="(option === 'Yes' || inline) && reportForm.get('roshCompleted').value === 'Yes'">

            <!-- ANGULAR COMPONENT (only using month and year) -->
            <app-three-field-date [group]="reportForm" name="previousDate"
                                  label="When was the RoSH assessment completed?"
                                  help="For example, 3 2018"></app-three-field-date>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"/>

            <p class="govuk-caption-xl govuk-!-margin-bottom-3">Select the RoSH scores at the point of sentence for the index offence.</p>

            <app-radio-buttons [group]="reportForm" name="riskPublic" label="Public"
                               [options]="['Low', 'Medium', 'High', 'Very high']">

            </app-radio-buttons>

            <br/>

            <app-radio-buttons [group]="reportForm" [error]="formError" name="riskKnownAdult" label="Known adult"
                               errorMessage="Select the risk to any known adult"
                               [options]="['Low', 'Medium', 'High', 'Very high']"></app-radio-buttons>

            <br/>

            <app-radio-buttons [group]="reportForm" name="riskChildren" label="Children"
                               [options]="['Low', 'Medium', 'High', 'Very high']"></app-radio-buttons>

            <br/>

            <app-radio-buttons [group]="reportForm" name="riskPrisoners" label="Prisoners"
                               [options]="['Low', 'Medium', 'High', 'Very high']"></app-radio-buttons>

            <br/>

            <app-radio-buttons [group]="reportForm" name="riskStaff" label="Staff"
                               [options]="['Low', 'Medium', 'High', 'Very high']"></app-radio-buttons>
          </div>

        </ng-template>

      </app-radio-buttons>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"/>

      <!-- ANGULAR COMPONENT -->
      <app-text-entry [group]="reportForm" name="attitude"
                      label="What is the prisoner's attitude to the index offence?"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError"
                      errorMessage="Enter the prisoner's attitude to index offence">

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
          <li>A brief analysis of the circumstances of the index offence and the plea.</li>
          <li>Evidence and analysis of the prisoner’s attitude to the index offence. Include changes in attitude not just an account of what the prisoner has said.</li>
          <li>An assessment of the prisoner’s current levels of responsibility, remorse and empathy.</li>
          <li>Barriers that could impact on the prisoner’s levels of responsibility, remorse and empathy, for example, learning difficulties, disabilities or personality disorders.</li>
          <li>Factors that impact denial or minimisation, both in the past and the present. These might include shame or family impact.</li>
        </ul>

      </app-text-entry>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"/>

      <!-- ANGULAR COMPONENT -->
      <app-text-entry [group]="reportForm" name="attitudePrevious"
                      label="What is the prisoner’s attitude to their previous offending?"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError"
                      errorMessage="Enter the prisoner's attitude to their previous offending">

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
          <li>An analysis of relevant previous offending with a focus on patterns and paralleling behaviours - not just an account of what the prisoner has said.</li>
          <li>Official sanctions such as convictions.</li>
          <li>Relevant, credible and disclosable intelligence, for example, police call-outs related to domestic abuse.</li>
          <li>Dropped charges.</li>
          <li>Information from agencies that have worked with the prisoner.</li>
          <li>Do not comment on whether you believe any allegations or unconvicted behaviours are true or false. You should assess any impact the behaviours could have on the assessment if they were true or false. If you are unsure or are concerned that comments could lead to legal challenges, speak to PPCS.</li>
          <li>An assessment of the prisoner’s current levels of responsibility, remorse and empathy.</li>
          <li>Barriers that could impact the prisoner’s levels of responsibility, remorse and empathy, for example, learning difficulties, disabilities or personality disorders.</li>
          <li>Factors that impact denial or minimisation, both in the past and the present. These might include shame or family impact.</li>
          <li>A statement to say that prisoner had not offended before the index offence, if appropriate.</li>
        </ul>
      </app-text-entry>

      <!-- ANGULAR COMPONENT -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
