<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="govuk-heading-xl govuk-!-margin-top-6">ROSH at point of sentence</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'attitude', error: 'Enter the prisoner\'s attitude to index offence' },
                    { name: 'previousDate', error: 'Enter the ROSH assessment at the point of sentence month and year' },
                    { name: 'riskPublic', error: 'Select the risk to public' },
                    { name: 'riskKnownAdult', error: 'Select the risk to any known adult' },
                    { name: 'riskChildren', error: 'Select the risk to children' },
                    { name: 'riskPrisoners', error: 'Select the risk to other prisoners' },
                    { name: 'riskStaff', error: 'Select the risk to staff' }
                    ]">
    </app-form-error>

    <p class="govuk-caption-xl govuk-!-margin-bottom-3">This is the ROSH assessment at the point of sentence for the index offence.</p>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- ANGULAR COMPONENT (only using month and year) -->
      <app-three-field-date [group]="reportForm" name="previousDate" required="true" [error]="formError"
                            label="If there was a ROSH assessment at the point of sentence, when was it completed?"
                            help="For example, 3 2018"></app-three-field-date>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

      <p class="govuk-caption-xl govuk-!-margin-bottom-3">Select the ROSH scores at the point of sentence for the index offence.</p>

      <app-radio-buttons [group]="reportForm" [error]="formError" name="riskPublic" label="Public"
                         errorMessage="Select the risk to public" [options]="['Low', 'Medium', 'High', 'Very high']"
                         required="true"></app-radio-buttons>

      <app-radio-buttons [group]="reportForm" [error]="formError" name="riskKnownAdult" label="Known adult"
                         errorMessage="Select the risk to any known adult"
                         [options]="['Low', 'Medium', 'High', 'Very high']" required="true"></app-radio-buttons>

      <app-radio-buttons [group]="reportForm" [error]="formError" name="riskChildren" label="Children"
                         errorMessage="Select the risk to children" [options]="['Low', 'Medium', 'High', 'Very high']"
                         required="true"></app-radio-buttons>

      <app-radio-buttons [group]="reportForm" [error]="formError" name="riskPrisoners" label="Prisoners"
                         errorMessage="Select the risk to other prisoners"
                         [options]="['Low', 'Medium', 'High', 'Very high']" required="true"></app-radio-buttons>

      <app-radio-buttons [group]="reportForm" [error]="formError" name="riskStaff" label="Staff"
                         errorMessage="Select the risk to staff" [options]="['Low', 'Medium', 'High', 'Very high']"
                         required="true"></app-radio-buttons>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

      <!-- ANGULAR COMPONENT -->
      <app-text-entry [group]="reportForm" name="attitude"
                      label="What is the prisoner's attitude to the index offence?"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError"
                      errorMessage="Enter the prisoner's attitude to index offence">

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
          <li>evidence of any change in attitude</li>
          <li>reasons for the change</li>
          <li>your analysis of the change</li>
        </ul>

      </app-text-entry>

      <!-- ANGULAR COMPONENT -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
