<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="govuk-heading-xl govuk-!-margin-top-6">Interventions</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'interventionsList', error: 'Detail the interventions the prisoner has completed' },
                    { name: 'interventionsSummary', error: 'Enter the interventions summary' }
                    ]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- ANGULAR COMPONENT -->
      <app-text-entry [group]="reportForm" name="interventionsList"
                      label="Detail the interventions the prisoner has completed"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError"
                      errorMessage="Detail the interventions the prisoner has completed">

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
          <li>All interventions completed throughout the sentence - not just those finished since the last report was submitted. Record these chronologically with dates. For example, programmes, courses, 121 work, education, training, OPD intervention services employment and progression regimes.</li>
          <li>Referrals and programme assessments - state if the prisoner was not deemed suitable.</li>
          <li>Interventions the prisoner refused to attend or did not complete.</li>
        </ul>
      </app-text-entry>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

      <!-- ANGULAR COMPONENT -->
      <app-text-entry [group]="reportForm" name="interventionsSummary"
                      label="Interventions summary"
                      help="Include the prisoner’s application of learning and the impact of this. Link this to future risk"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError"
                      errorMessage="Enter the interventions summary">

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
          <li>A summary of the impact that an intervention has had on the prisoner, or the lack of impact. You do not have to analyse interventions individually - this is included in the dossier in reports like the post-sentence or Structured Assessment of Risk (SARN).</li>
          <li>Achievements, shifts in behaviour or attitude, responsivity and diversity considerations (for example IQ, learning disabilities, personality disorder or maturity) and capacity to change.</li>
          <li>Application of learning, for example, evidence of using a new skill.</li>
          <li>A summary of the impact of gender-specific and trauma-informed interventions.</li>
        </ul>
      </app-text-entry>

      <!-- ANGULAR COMPONENT -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
