<nav class="sub-nav">
  <ul>
    <li id="saveDraft" routerLinkActive="active" routerLink="/sfpsr/save-draft" class="sub-sub-item clickable bold" *ngIf="!rla.isActive">Save draft report</li>
  </ul>

  <p class="nav-title">Report sections</p>

  <ul>
    <li routerLinkActive="active" routerLink="/sfpsr/offender-details" class="sub-sub-item clickable">- Offender details</li>
    <li routerLinkActive="active" routerLink="/sfpsr/court-details" class="sub-sub-item clickable">- Sentencing court details</li>
    <li routerLinkActive="active" routerLink="/sfpsr/information-sources" class="sub-sub-item clickable">- Sources of information</li>
    <li routerLinkActive="active" routerLink="/sfpsr/offence-details" class="sub-sub-item clickable">- Offence details</li>
    <li routerLinkActive="active" routerLink="/sfpsr/offence-analysis" class="sub-sub-item clickable">- Offence analysis</li>
    <li routerLinkActive="active" routerLink="/sfpsr/offender-assessment" class="sub-sub-item clickable">- Offender assessment</li>
    <li routerLinkActive="active" routerLink="/sfpsr/risk-assessment" class="sub-sub-item clickable">- Risk assessment</li>
    <li routerLinkActive="active" routerLink="/sfpsr/proposed-sentence" class="sub-sub-item clickable">- Conclusion</li>
    <li routerLinkActive="active" routerLink="/sfpsr/check-report" class="sub-sub-item clickable">- Check your report</li>
    <li routerLink="/sfpsr/signature" routerLinkActive="active" #rla="routerLinkActive" [ngClass]="{ 'js-hidden': !isValid }" class="sub-sub-item clickable">- Sign and date your report</li>
  </ul>
</nav>
