<div *ngIf="data">
  <app-accordion-panel [title]="'Registers and warnings (' + data['RISK_REGISTERS'].length + ')'">

    <div class="moj-inside-panel">

      <!-- NO RISK DATA -->
      <div *ngIf="!data['RISK_REGISTERS'].length">
        <p class="moj-text--align-center">No data</p>
      </div>

      <!-- RISK DATA -->
      <table class="moj-table moj-table--split-rows" role="presentation" *ngIf="data['RISK_REGISTERS'].length">
        <thead>
        <tr>
          <th width="220">Type</th>
          <th width="130">Status</th>
          <th>Description</th>
          <th width="130">Date</th>
        </tr>
        </thead>
        <tbody>

        <ng-template ngFor let-option [ngForOf]="data['RISK_REGISTERS']" let-index="index">
          <tr [ngClass]="{ 'moj-!-border-0': option.active }">
            <td><a href="javascript:void(0)" class="expand-content" [ngClass]="{ 'active': option.active }"
                   (click)="option.active = !option.active">{{option.type}}</a></td>
            <td><span class="moj-risk-tag"
                      [ngClass]="{
                      'moj-risk-tag--low': option.level.toLowerCase().indexOf('low') !== -1,
                      'moj-risk-tag--medium': option.level.toLowerCase().indexOf('medium') !== -1,
                      'moj-risk-tag--high': option.level.toLowerCase().indexOf('high') !== -1
                    }">{{option.level}}</span>
            </td>
            <td>{{option.description}}</td>
            <td>{{option.date}}</td>
          </tr>
          <tr *ngIf="option.active">
            <td colspan="4">
              <div class="moj-inside-panel">
                <p>{{option.information}}</p>
              </div>
            </td>
          </tr>
        </ng-template>

        </tbody>
      </table>

    </div>

  </app-accordion-panel>
</div>
