<div *ngIf="data">
  <app-accordion-panel title="Offender details">

    <div class="moj-inside-panel">

      <table class="govuk-table moj-table moj-table--split-rows" role="presentation">
        <tr>
          <th width="50%">Aliases</th>
          <td>{{ data.ALIASES.length ? 'Yes (' + data.ALIASES.length + ')' : 'No' }}</td>
          <td width="100" style="text-align: right;"><a href="javascript:void(0);" *ngIf="data.ALIASES.length">View all</a></td>
        </tr>
        <tr>
          <th>Gender</th>
          <td colspan="2">{{pipeGender(data.GENDER_ID)}}</td>
        </tr>
        <tr>
          <th>NI Number</th>
          <td colspan="2">{{data.NI_NUMBER}}</td>
        </tr>
        <tr>
          <th>Nationality</th>
          <td colspan="2">British</td>
        </tr>
        <tr>
          <th>Ethnicity</th>
          <td colspan="2">Unknown</td>
        </tr>
        <tr>
          <th>Interpreter required</th>
          <td colspan="2">{{data.INTERPRETER_REQUIRED ? 'Yes' : 'No'}}</td>
        </tr>
        <tr>
          <th>Disability status</th>
          <td colspan="2">No disabilities recorded</td>
        </tr>
      </table>

      <app-details label="Contact details" [hideBar]="true" [noMarginBottom]="true">

        <table class="govuk-table moj-table moj-table--split-rows" role="presentation">
          <tr>
            <th width="50%">Telephone</th>
            <td>{{data.TELEPHONE_NUMBER}}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{data.E_MAIL_ADDRESS}}</td>
          </tr>
          <tr>
            <th>Mobile</th>
            <td>{{data.MOBILE_NUMBER}}</td>
          </tr>
        </table>

      </app-details>

      <div class="govuk-!-margin-top-2" *ngIf="data.ADDRESSES && data.ADDRESSES.length">

        <app-details label="Main address" [hideBar]="true" [noMarginBottom]="true">

          <table class="govuk-table moj-table moj-table--split-rows govuk-!-margin-bottom-2" role="presentation">
            <thead>
            <tr>
              <th>Number</th>
              <th>Street</th>
              <th>Town/City</th>
              <th>County</th>
              <th>Postcode</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{data.ADDRESSES[0].ADDRESS_NUMBER}}</td>
                <td>{{data.ADDRESSES[0].STREET_NAME}}</td>
                <td>{{data.ADDRESSES[0].TOWN_CITY}}</td>
                <td>{{data.ADDRESSES[0].COUNTY}}</td>
                <td>{{data.ADDRESSES[0].POSTCODE}}</td>
              </tr>
            </tbody>
          </table>

          <p class="govuk-body"><a href="javascript:void(0);">View address history</a></p>

        </app-details>

      </div>

    </div>

  </app-accordion-panel>
</div>
