<h1 class="heading-xlarge no-margin-bottom">Patterns of offending</h1>

<div class="grid-row">
  <div class="column-two-thirds">

    <div class="margin-top large">&nbsp;</div>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit()" novalidate>

      <div class="form-group">
        <label for="patternOfOffending">
          <span class="form-label-bold">Provide patterns of offending (if applicable)</span>
        </label>
        <textarea id="patternOfOffending" formControlName="patternOfOffending" class="form-control wide" role="textbox" placeholder="Start typing here..."></textarea>
      </div>

      <input class="button margin-top medium" id="nextButton" type="submit" value="Save & continue" />

    </form>

  </div>
  <div class="column-one-third">

    <!-- Angular component -->
    <app-navigation></app-navigation>

  </div>
</div>
