<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="govuk-heading-xl govuk-!-margin-top-6">Victims</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'vloContactDate', error: 'Enter the date that you contacted the VLO' },
                    { name: 'victimContactService', error: 'Specify if the victims are engaged in the Victim Contact Scheme' },
                    { name: 'victimPersonalStatement', error: 'Specify if the victims wish to submit a Victim Personal Statement' },
                    { name: 'impactOfOffence', error: 'Enter your analysis of the impact of the offence on the victims' }
                    ]">
    </app-form-error>

    <div class="moj-interrupt govuk-!-margin-top-0">
      <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1 moj-!-color-white">This report will be disclosed to the prisoner.</p>
      <p class="govuk-body-s govuk-!-margin-bottom-0 moj-!-color-white">
        Consider how you present sensitive information in this section.
      </p>
    </div>

    <!-- Angular component -->
    <app-notice>
      You must contact the Victim Liaison Officer (VLO) for each hearing as part of designing the Risk Management Plan.
    </app-notice>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="impactOfOffence"
                      label="Analyse the impact of the offence on the victims"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError" errorMessage="Enter your analysis of the impact of the offence on the victim">

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
          <li>impact on the victims - even if they are in the victim scheme</li>
          <li>victims’ personal statement information</li>
          <li>address the impact on all victims</li>
        </ul>

      </app-text-entry>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

      <!-- ANGULAR COMPONENT -->
      <app-input [group]="reportForm" name="vloContactDate" date="true" [error]="formError" required="true"
                 label="On what date did you contact the VLO?"
                 errorMessage="Enter the date that you contacted the VLO">
      </app-input>

      <!-- ANGULAR COMPONENT -->
      <app-radio-buttons [group]="reportForm" name="victimContactService" [options]="['Yes', 'No']" required="true" [error]="formError"
                         label="Are the victims engaged in the Victim Contact Scheme (VCS)?"
                         errorMessage="Specify if the victim is engaged in the Victim Contact Scheme">
      </app-radio-buttons>

      <!-- ANGULAR COMPONENT -->
      <app-radio-buttons [group]="reportForm" name="victimPersonalStatement" [options]="['Yes', 'No', 'Don\'t know']" conditional="true" required="true" [error]="formError"
                         label="Do the victims wish to submit a Victim Personal Statement (VPS)?"
                         errorMessage="Specify if the victims wish to submit a Victim Personal Statement">

        <ng-template let-option>
          <div class="govuk-radios__conditional" *ngIf="option === 'Yes' && reportForm.get('victimPersonalStatement').value === 'Yes'">
            <p class="govuk-body">The VPS should be submitted with this report if possible.</p>
          </div>
        </ng-template>

      </app-radio-buttons>

      <!-- ANGULAR COMPONENT -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
