<app-accordion-panel title="Offender manager">

  <div class="moj-inside-panel">

    <table class="govuk-table moj-table moj-table--split-rows" role="presentation">
      <tbody>
      <tr>
        <th>Provider</th>
        <td>Unallocated</td>
      </tr>
      <tr>
        <th>Cluster</th>
        <td>Unallocated</td>
      </tr>
      <tr>
        <th>LDU and team</th>
        <td>Unallocated (N07)</td>
      </tr>
      <tr>
        <th>Officer</th>
        <td>Sarah Francis</td>
      </tr>
      <tr>
        <th>Team Telephone</th>
        <td>0114 114 114</td>
      </tr>
      <tr>
        <th>Date allocated</th>
        <td>15/06/2018</td>
      </tr>
      <tr>
        <th>Reason for allocation</th>
        <td>Unknown</td>
      </tr>
      </tbody>
    </table>

    <app-details label="Personal circumstances" *ngIf="data && data.CURRENT_DISPOSAL">

      <table class="govuk-table moj-table moj-table--split-rows" role="presentation">
        <thead>
        <tr>
          <th>Type</th>
          <th>Sub type</th>
          <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Offender level recording (L)</td>
          <td>Agree offender childcare</td>
          <td>24/07/2018</td>
        </tr>
        </tbody>
      </table>

    </app-details>

    <app-details label="Next appointment details" *ngIf="data && data.CURRENT_DISPOSAL">

      <table class="govuk-table moj-table moj-table--split-rows" role="presentation">
        <tbody>
        <tr>
          <th>Contact type</th>
          <td>Planned office visit (NS)</td>
        </tr>
        <tr>
          <th>Date</th>
          <td>24/07/2018</td>
        </tr>
        <tr>
          <th>Start time</th>
          <td>14:00</td>
        </tr>
        <tr>
          <th>Location</th>
          <td>Location 1</td>
        </tr>
        <tr>
          <th>Provider</th>
          <td>ZZ Bast Public Provider 1</td>
        </tr>
        <tr>
          <th>Team</th>
          <td>Team  1</td>
        </tr>
        <tr>
          <th>Officer</th>
          <td>Sarah Francis</td>
        </tr>
        </tbody>
      </table>

    </app-details>

  </div>

</app-accordion-panel>
