<app-accordion-panel title="Offender manager">

  <div class="moj-inside-panel">

    <div class="grid-row">
      <div class="column-one-half no-padding-right">

        <table class="split-rows" role="presentation">
          <tr>
            <td class="govuk-!-font-weight-bold" width="50%">Provider</td>
            <td>Unallocated</td>
          </tr>
          <tr>
            <td class="govuk-!-font-weight-bold">Officer</td>
            <td>Sarah Francis</td>
          </tr>
          <tr>
            <td class="govuk-!-font-weight-bold">Telephone</td>
            <td>0114 114 114</td>
          </tr>
        </table>

      </div>
      <div class="column-one-half no-padding-left">

        <table class="split-rows" role="presentation">
          <tr>
            <td class="govuk-!-font-weight-bold" width="50%">Cluster</td>
            <td>Unallocated</td>
          </tr>
          <tr>
            <td class="govuk-!-font-weight-bold">LDU and team</td>
            <td>Unallocated (N07)</td>
          </tr>
          <tr>
            <td class="govuk-!-font-weight-bold">Date allocated</td>
            <td>15/06/2018</td>
          </tr>
        </table>

      </div>
    </div>

  </div>

</app-accordion-panel>
