<li class="sub-item">Event Details</li>
<li class="sub-item">Case Allocation</li>
<li class="sub-item">Court Appearances</li>
<li class="sub-item">Court &amp; Institutional Reports</li>
<li class="sub-item">Additional Offences</li>
<li class="sub-item">OGRS Calculation</li>
<li class="sub-item">OASys Assessments</li>
<li class="sub-item">Order Supervisor History</li>
<li class="sub-item">Approved Premises Referrals</li>
<li class="sub-item">Referrals</li>
<li class="sub-item">Drug Testing Referrals</li>
<li class="sub-item">Contact Extract</li>
<li class="sub-item">Non Statutory Interventions</li>
