<h1 class="heading-xlarge">Conclusion</h1>

<div class="grid-row">
  <div class="column-one-third">

    <!-- Angular component -->
    <app-navigation></app-navigation>

  </div>
  <div class="column-two-thirds">

    <div class="error-summary no-margin-top" *ngIf="formError && !reportForm.valid">
      <h2 class="heading-medium no-margin-top">You need to fix the errors on this page before continuing</h2>

      <p>See highlighted errors below</p>

      <p class="error-message" *ngIf="reportForm.get('proposal').errors">Enter your conclusion</p>
    </div>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="proposal" label="Enter a proposed sentence" limit="4000" errorMessage="Enter your conclusion" [error]="formError" (onSaveContent)="saveContent(reportForm)">

          <p>Awareness of the sentencing guidelines and relevant legislation.</p>
          <p class="margin-top">All possible sentencing options, and if the offender is past the custody threshold or suitable for a community order.</p>
          <p class="margin-top">Aggravating or mitigating factors.</p>
          <p class="margin-top">If relevant, specific needs such as gender, maturity, diversity.</p>
          <p class="margin-top">How your proposals will manage risk.</p>
          <p class="margin-top">What will the impact of the sentence be on the offender.</p>
          <p class="margin-top">How the proposed sentence would affect the offender’s family and any dependents.</p>
          <p class="margin-top">If relevant, what is not suitable?.</p>
          <p class="margin-top">Any relevant alternative requirements that the offender may have been eligible for, but circumstances have made them unsuitable for participation.</p>

      </app-text-entry>

      <input class="button margin-top medium" id="nextButton" type="submit" value="Save & continue" />

    </form>

  </div>
</div>
