<!-- Angular component -->
<app-phase-banner></app-phase-banner>

<h1 class="heading-xlarge">Conclusion</h1>

<div class="grid-row">
  <div class="column-one-third">
    <!-- Angular component -->
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="column-two-thirds">

    <!-- Angular component -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'proposal', error: 'Enter your conclusion' }
                    ]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="proposal" label="Enter a proposed sentence" limit="4000" errorMessage="Enter your conclusion" [error]="formError" (onSaveContent)="saveContent(reportForm)">

          <p>Awareness of the sentencing guidelines and relevant legislation.</p>
          <p class="margin-top">All possible sentencing options, and if the offender is past the custody threshold or suitable for a community order.</p>
          <p class="margin-top">Aggravating or mitigating factors.</p>
          <p class="margin-top">If relevant, specific needs such as gender, maturity, diversity.</p>
          <p class="margin-top">How your proposals will manage risk.</p>
          <p class="margin-top">What will the impact of the sentence be on the offender.</p>
          <p class="margin-top">How the proposed sentence would affect the offender’s family and any dependents.</p>
          <p class="margin-top">If relevant, what is not suitable?</p>
          <p class="margin-top">Any relevant alternative requirements that the offender may have been eligible for, but circumstances have made them unsuitable for participation.</p>

      </app-text-entry>

      <!-- Angular component -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
