<h1 class="heading-xlarge">Conclusion</h1>

<div class="grid-row">
  <div class="column-one-third">

    <!-- Angular component -->
    <app-navigation></app-navigation>

  </div>
  <div class="column-two-thirds">

    <div class="error-summary no-margin-top" *ngIf="formError && !reportForm.valid">
      <h2 class="heading-medium no-margin-top">You need to fix the errors on this page before continuing</h2>

      <p>See highlighted errors below</p>

      <p class="error-message" *ngIf="reportForm.get('proposal').errors">Enter your conclusion</p>
    </div>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="proposal" label="Enter a proposed sentence" help="2000 recommended characters" limit="2000" errorMessage="Enter your conclusion" [error]="formError" (onSaveContent)="saveContent(reportForm)">

        <p>Include:</p>

        <ul class="margin-top">
          <li class="list-bullet">the sentencing guidelines and relevant legislation</li>
          <li class="list-bullet">aggravating or mitigating factors</li>
          <li class="list-bullet">specific needs such as gender, maturity, diversity</li>
          <li class="list-bullet">how your proposals will manage risk</li>
          <li class="list-bullet">what will the impact of the sentence be on the offender</li>
          <li class="list-bullet">if relevant, what is not suitable?</li>
          <li class="list-bullet">any relevant alternative requirements that the offender may have been eligible for, but circumstances have made them unsuitable for participation</li>
        </ul>
      </app-text-entry>

      <input class="button margin-top medium" id="nextButton" type="submit" value="Save & continue" />

    </form>

  </div>
</div>
