<h1 class="heading-xlarge">Risk assessment</h1>

<div class="grid-row">
  <div class="column-one-third">

    <!-- Angular component -->
    <app-navigation></app-navigation>

  </div>
  <div class="column-two-thirds">

    <div class="error-summary no-margin-top" *ngIf="formError && !reportForm.valid">
      <h2 class="heading-medium no-margin-top">You need to fix the errors on this page before continuing</h2>

      <p>See highlighted errors below</p>

      <p class="error-message" *ngIf="reportForm.get('likelihoodOfReOffending').errors">Tell us their likelihood of re-offending</p>
      <p class="error-message" *ngIf="reportForm.get('riskOfSeriousHarm').errors">Tell us the risk of serious harm</p>
    </div>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="likelihoodOfReOffending" label="Likelihood of reoffending" errorMessage="Tell us their likelihood of reoffending" [error]="formError" required="true" (onSaveContent)="saveContent(reportForm)">
        <p>This is about the offender’s capacity to change.</p>
        <p>Indicate which tools have been used (RM2000,OGRS etc.)</p>
      </app-text-entry>

      <hr />

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="riskOfSeriousHarm" label="Risk of serious harm" limit="1000" errorMessage="Tell us the risk of serious harm" [error]="formError" (onSaveContent)="saveContent(reportForm)">
        <p>This is about harm, not reoffending.</p>
        <p class="margin-top">Outline if you have made a referral to other agencies or attempted contact and not received a satisfactory response.</p>
        <p class="margin-top">Any information from other agencies for the court must not place any identifiable groups at risk.</p>
        <p class="margin-top">Consider the impact on the overall assessment, including the impact on safer sentencing principles.</p>
        <p class="margin-top">You must clearly state how this information adds value to the assessment.</p>
        <p class="margin-top">Any information you have from other agencies should state how they will assist in monitoring and managing risk, including partnership working.</p>
      </app-text-entry>

      <hr />

      <div class="form-group margin-bottom">
        <fieldset>

          <legend>
            <span class="form-label-bold">Response to previous supervision</span>
            <span class="form-hint">Include their compliance with any Youth Offending Supervision Orders</span>
          </legend>

          <div class="multiple-choice margin-top medium">
            <input id="radio-1" type="radio" formControlName="previousSupervisionResponse" value="Good" [attr.aria-checked]="reportForm.get('previousSupervisionResponse').value === 'Good'" />
            <label for="radio-1">Good</label>
          </div>

          <div class="multiple-choice">
            <input id="radio-2" type="radio" formControlName="previousSupervisionResponse" value="Satisfactory" [attr.aria-checked]="reportForm.get('previousSupervisionResponse').value === 'Satisfactory'" />
            <label for="radio-2">Satisfactory</label>
          </div>
          <br>
          <div class="multiple-choice">
            <input id="radio-3" type="radio" formControlName="previousSupervisionResponse" value="Poor" [attr.aria-checked]="reportForm.get('previousSupervisionResponse').value === 'Poor'" />
            <label for="radio-3">Poor</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-4" type="radio" formControlName="previousSupervisionResponse" value="N/A" [attr.aria-checked]="reportForm.get('previousSupervisionResponse').value === 'N/A'" />
            <label for="radio-4">Not applicable</label>
          </div>
        </fieldset>
      </div>

      <div class="panel panel-border-narrow" [ngClass]="{ 'js-hidden': !reportForm.get('previousSupervisionResponse').value || reportForm.get('previousSupervisionResponse').value === 'N/A' }" [attr.aria-hidden]="!reportForm.get('previousSupervisionResponse').value || reportForm.get('previousSupervisionResponse').value === 'N/A'">

        <!-- Angular component -->
        <app-text-entry [group]="reportForm" name="additionalPreviousSupervision" label="Add additional details on previous supervision (if applicable)" limit="1000" (onSaveContent)="saveContent(reportForm)"></app-text-entry>

      </div>

      <input class="button margin-top large" id="nextButton" type="submit" value="Save & continue" />

    </form>

  </div>
</div>
