<!-- Angular component -->
<app-phase-banner></app-phase-banner>

<h1 class="heading-xlarge">Offence analysis</h1>

<div class="grid-row">
  <div class="column-one-third">
    <!-- Angular component -->
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="column-two-thirds">

    <!-- Angular component -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'offenceAnalysisEntry', error: 'You must enter your analysis of the offence' }
                    ]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="offenceAnalysisEntry" label="Offence analysis" limit="4000"
                      errorMessage="You must enter your analysis of the offence" [error]="formError"
                      (onSaveContent)="saveContent(reportForm)">

        <p>Your analysis needs to go beyond the facts provided by the CPS. It needs to reflect motivation and the person’s own understanding of their behaviour.</p>
        <p>Consider the offender’s account and attitude and make links to any previous offending behaviour and previous  reports, interventions and periods of supervision.</p>
        <p>Do they accept responsibility? Is the offence admitted or denied.? It is important to be clear where lack of remorse differs from any inability to show remorse. There could be a reason for an inability to show remorse, for example, autism, or learning disability. People who have suffered trauma may also present very differently so it is important to consider a person’s history and the impact of any trauma.</p>
        <p>Consider what level of awareness of the impact on the victim is being shown. Reference should be made to lasting impacts, whether physical, psychological or emotional. Has there been any deliberate targeting of specific groups? Is there repeat victimisation?</p>
        <p>Outline the emotional or cognitive factors that underpin the crime. Were there sexual motivations, financial gains or addictions? What level of premeditation or planning was involved? Are there any patterns suggesting likelihood of similar offending?</p>
        <p>Is there any evidence of discrimination in their attitude or behaviour?</p>
        <p>Consider whether the offender’s own experience as a victim of others is relevant to their commission of this offence. Has this person been a victim of domestic abuse? What impact has that had? Has this person been subject to racism? Have they suffered trauma in their past that has impacted upon their ability to engage and respond?</p>
        <p>If this report is about a person aged 18-24, consider whether their maturity an issue in this offence. Are they easily led or influenced by a peer group?</p>
        <p>This section should lead to some potential considerations of rehabilitative interventions.</p>

      </app-text-entry>

      <hr noshade/>

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="patternOfOffending"
                      label="Patterns of offending behaviour (if applicable)"
                      limit="1000" (onSaveContent)="saveContent(reportForm)">

        <p>Previous behaviour is an indicator of future behaviour. Specify if this is an escalation in severity.</p>
        <p>Detail any gaps in offending, consider lapse and relapse in any addictions and make clear the triggers that initiate the behaviours.</p>

      </app-text-entry>

      <!-- Angular component -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
