.app-float-left, .app-float-right {
  @include govuk-clearfix();
}

.app-float-left {
  float: left;

  &.app-float-left__not-narrow {
    @include govuk-media-query(mobile, tablet) {
      display: block;
      float: none;
    }
  }
}

.app-float-right {
  float: right;
}

.app-align-right {
  text-align: right !important;
}
