.moj-\!-border-0 td {
  border: 0 !important;
}

.moj-\!-border-2 {
  border: 10px white solid;
}

.govuk-back-link.moj-\!-color-white {
  color: white !important;
  border-color: white;
}

.govuk-accordion__section-button {
  padding-left: 15px !important;
}
