<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="govuk-heading-xl govuk-!-margin-top-6">Prisoner details</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'prison', error: 'Enter the prison or Young Offender Institution' },
                    { name: 'prisonNumber', error: 'Enter the prison number' },
                    { name: 'category', error: 'Select the prisoner’s category' },
                    { name: 'offence', error: 'Enter the offence' },
                    { name: 'sentence', error: 'Enter the sentence' },
                    { name: 'sentenceType', error: 'Select the sentence type' }
                    ]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <input type="hidden" id="name"/>
      <input type="hidden" id="prison"/>
      <input type="hidden" id="prisonNumber"/>
      <input type="hidden" id="nomisNumber"/>
      <input type="hidden" id="category"/>
      <input type="hidden" id="offence"/>
      <input type="hidden" id="sentence"/>

      <p class="govuk-body"><span class="govuk-!-font-weight-bold">Prisoner's full name</span><br/>
        {{reportForm.get('name').value}}</p>

      <p class="govuk-body"><span class="govuk-!-font-weight-bold">Prison or Young Offender Institution</span><br/>
        {{reportForm.get('prison').value}}</p>

      <p class="govuk-body"><span class="govuk-!-font-weight-bold">Prison number</span><br/>
        {{reportForm.get('prisonNumber').value}}</p>

      <p class="govuk-body"><span class="govuk-!-font-weight-bold">NOMIS number</span><br/>
        {{reportForm.get('nomisNumber').value}}</p>

      <p class="govuk-body"><span class="govuk-!-font-weight-bold">Prisoner's category</span><br/>
        {{reportForm.get('category').value}}</p>

      <p class="govuk-body"><span class="govuk-!-font-weight-bold">Offence</span><br/>
        {{reportForm.get('offence').value}}</p>

      <p class="govuk-body"><span class="govuk-!-font-weight-bold">Sentence</span><br/>
        {{reportForm.get('sentence').value}}</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"/>

      <!-- ANGULAR COMPONENT -->
      <app-radio-buttons [group]="reportForm" name="sentenceType" [options]="['Indeterminate', 'Determinate']"
                         required="true" [error]="formError" conditional="true"
                         label="Sentence type" errorMessage="Select the sentence type">

        <ng-template let-option>
          <div class="govuk-radios__conditional"
               *ngIf="option === 'Indeterminate' && reportForm.get('sentenceType').value === 'Indeterminate'">

            <app-input [group]="reportForm" name="tariffLength" label="Tariff length"></app-input>

            <br/>

            <!-- ANGULAR COMPONENT -->
            <app-three-field-date [group]="reportForm" name="tariffExpiryDate" label="Tariff expiry date"
                                  help="For example, 31 3 2018"></app-three-field-date>
          </div>

          <div class="govuk-radios__conditional"
               *ngIf="option === 'Determinate' && reportForm.get('sentenceType').value === 'Determinate'">

            <!-- ANGULAR COMPONENT -->
            <app-three-field-date [group]="reportForm" name="determinateEligibilityDate"
                                  label="Parole eligibility date"
                                  help="For example, 31 3 2018"></app-three-field-date>

            <br/>

            <!-- ANGULAR COMPONENT -->
            <app-three-field-date [group]="reportForm" name="determinateReleaseDate"
                                  label="Automatic release date / non parole eligibility date"
                                  help="For example, 31 3 2018"></app-three-field-date>
          </div>

        </ng-template>


      </app-radio-buttons>

      <!-- ANGULAR COMPONENT -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
