<div class="form-group half-width" [formGroup]="group" [ngClass]="{ 'form-group-error': (group.get(name).touched || error) && required && group.get(name).errors }">

  <label [for]="name + '-input'" class="form-label-bold">
    <span class="form-label-bold">{{label}}</span>
    <span class="form-hint" *ngIf="help">{{help}}</span>
  </label>
  <app-error-messages [control]="name" [message]="errorMessage" [active]="(group.get(name).touched || error) && required && group.get(name).errors"></app-error-messages>
  <input [id]="name + '-input'" type="text" role="textbox" class="form-control half-width"
         [ngClass]="{ 'form-control-error': (group.get(name).touched || error) && required && group.get(name).errors, 'date-picker': date }"
         [formControlName]="name" [attr.aria-described-by]="name + '_error'" [attr.aria-required]="required" />
</div>
