<nav class="moj-navigation moj-navigation--top-bar">

  <p class="govuk-heading-s govuk-!-margin-top-3">Report sections</p>

  <ul>
    <li class="moj-left-navigation" routerLinkActive="moj-left-navigation--active" routerLink="/psr-addendum/offender-details">- Offender details</li>
    <li class="moj-left-navigation" routerLinkActive="moj-left-navigation--active" routerLink="/psr-addendum/court-details">- Sentencing court details</li>
    <li class="moj-left-navigation" routerLinkActive="moj-left-navigation--active" routerLink="/psr-addendum/addendum-detail">- Addendum detail</li>
    <li class="moj-left-navigation" routerLinkActive="moj-left-navigation--active" #rla="routerLinkActive" routerLink="/psr-addendum/signature">- Sign and date your addendum</li>
  </ul>
</nav>
