<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="govuk-heading-xl govuk-!-margin-top-6">Risk Management Plan (RMP)</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'agencies', error: 'Enter the agencies' },
                    { name: 'support', error: 'Enter the support' },
                    { name: 'control', error: 'Enter the control' },
                    { name: 'riskMeasures', error: 'Enter the added measures for specific risks' },
                    { name: 'requirements', error: 'Enter the additional conditions or requirements' },
                    { name: 'contactLevel', error: 'Enter the level of contact' },
                    { name: 'agencyActions', error: 'Enter the agency actions' },
                    { name: 'contingencyPlan', error: 'Enter the contingency plan' }
                    ]">
    </app-form-error>

    <!-- Angular component -->
    <app-notice>
      You must complete the RMP for all prisoners, even if you are not supporting their move or release.
    </app-notice>

    <p class="govuk-caption-xl govuk-!-margin-bottom-4">Detail the risk management plan (RMP)</p>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="agencies"
                      label="Agencies"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError" errorMessage="Enter the agencies">
      </app-text-entry>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="support"
                      label="Support"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError" errorMessage="Enter the support">
      </app-text-entry>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="control"
                      label="Control"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError" errorMessage="Enter the control">
      </app-text-entry>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="riskMeasures"
                      label="Added measures for specific risks"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError" errorMessage="Enter the added measures for specific risks">
      </app-text-entry>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="agencyActions"
                      label="Agency actions"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError" errorMessage="Enter the agency actions">
      </app-text-entry>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="requirements"
                      label="Additional conditions or requirements"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError" errorMessage="Enter the additional conditions or requirements">
      </app-text-entry>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="contactLevel"
                      label="Level of contact"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError" errorMessage="Enter the level of contact">
      </app-text-entry>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="contingencyPlan"
                      label="Contingency plan"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError" errorMessage="Enter the contingency plan">
      </app-text-entry>

      <!-- ANGULAR COMPONENT -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
