<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="heading-xlarge">Sign and date your report</h1>

<div class="grid-row">
  <div class="column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="column-two-thirds">

    <!-- Angular component -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'reportAuthor', error: 'Enter the report author' },
                    { name: 'office', error: 'Enter the office' },
                    { name: 'phone', error: 'Enter the court office phone number' },
                    { name: 'reportDate', error: 'Enter the report date' }
                    ]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- Angular component -->
      <app-input [group]="reportForm" name="reportAuthor" required="true" [error]="formError" label="Report author" errorMessage="Enter the report author"></app-input>

      <!-- Angular component -->
      <app-input [group]="reportForm" name="office" required="true" [error]="formError" label="Office" errorMessage="Enter the office"></app-input>

      <!-- Angular component -->
      <app-input [group]="reportForm" name="phone" required="true" [error]="formError" label="Court office phone number" errorMessage="Enter the court office phone number"></app-input>

      <!-- Angular component -->
      <app-input [group]="reportForm" name="counterSignature" label="Counter signature (if applicable)"></app-input>

      <!-- Angular component -->
      <app-input [group]="reportForm" name="reportDate" required="true" date="true" [error]="formError" label="Completion date" help="For example: 28/06/2017" errorMessage="Enter the report date"></app-input>

      <!-- Angular component -->
      <app-footer [draftEnabled]="false" label="Submit" hint="Submit and view your report"></app-footer>

    </form>

  </div>
</div>
