<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="govuk-heading-xl govuk-!-margin-top-6">Current ROSH: community</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'riskPublic', error: 'Select the risk to public' },
                    { name: 'riskKnownAdult', error: 'Select the risk to any known adult' },
                    { name: 'riskChildren', error: 'Select the risk to children' },
                    { name: 'riskPrisoners', error: 'Select the risk to prisoners' },
                    { name: 'riskStaff', error: 'Select the risk to staff' },
                    { name: 'riskSelf', error: 'Select whether the prisoner poses a self harming risk in the community' },
                    { name: 'riskOthers', error: 'Select whether the prisoner is at risk of serious harm from others in the community' }
                    ]">
    </app-form-error>

    <p class="lede no-margin-top">Select the prisoner’s current ROSH in the community</p>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <app-radio-buttons [group]="reportForm" name="riskPublic" [error]="formError" label="Public" errorMessage="Select the risk to public" [options]="['Low', 'Medium', 'High', 'Very high']" required="true"></app-radio-buttons>

      <app-radio-buttons [group]="reportForm" name="riskKnownAdult" label="Known adult" [error]="formError" errorMessage="Select the risk to any known adult" [options]="['Low', 'Medium', 'High', 'Very high']" required="true"></app-radio-buttons>

      <app-radio-buttons [group]="reportForm" name="riskChildren" label="Children" [error]="formError" errorMessage="Select the risk to children" [options]="['Low', 'Medium', 'High', 'Very high']" required="true"></app-radio-buttons>

      <app-radio-buttons [group]="reportForm" name="riskPrisoners" label="Prisoners" [error]="formError" errorMessage="Select the risk to prisoners" [options]="['Low', 'Medium', 'High', 'Very high']" required="true"></app-radio-buttons>

      <app-radio-buttons [group]="reportForm" name="riskStaff" label="Staff" [error]="formError" errorMessage="Select the risk to staff" [options]="['Low', 'Medium', 'High', 'Very high']" required="true"></app-radio-buttons>

      <!-- ANGULAR COMPONENT -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
