<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="heading-xlarge">Release risk management plan</h1>

<div class="grid-row">
  <div class="column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[{ name: 'riskManagementPlan', error: 'Enter the release risk management plan' }]">
    </app-form-error>

    <div class="notice margin-bottom large">
      <i class="icon icon-important">
        <span class="visually-hidden">Important</span>
      </i>
      <strong class="font-small">
        You must complete this whether you are supporting the prisoner’s release or not.
      </strong>
    </div>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="riskManagementPlan"
                      label="Release risk management plan (RMP)"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError && reportForm.get('riskManagementPlan').errors" errorMessage="Enter the release risk management plan">
        <ul>
          <li class="list-bullet">Any progressive move, to open or closed conditions, being considered</li>
          <li class="list-bullet">ROTL condition considerations</li>
          <li class="list-bullet">MAPPA</li>
          <li class="list-bullet">Police concerns</li>
          <li class="list-bullet">Visor</li>
        </ul>
      </app-text-entry>

      <!-- ANGULAR COMPONENT -->
      <app-parom1-footer></app-parom1-footer>

    </form>

  </div>
</div>
