<header>
  <span class="title">National Delius</span>
</header>

<div class="grid-flex">

  <div class="column-flex navigation omit-mobile">

    <nav>
      <ul>
        <li routerLinkActive="active" routerLink="/start" class="clickable"><span class="far fa-home"></span> Home</li>
        <li><span class="far fa-search"></span> National Search</li>
        <li><span class="far fa-eye"></span> National Custody Search</li>
        <li><span class="far fa-history"></span> Recently Viewed</li>
        <li><span class="far fa-briefcase"></span> Case Management</li>

        <!-- ANGULAR ROUTER - Navigation -->
        <router-outlet name="navigation"></router-outlet>

        <li><span class="far fa-calendar"></span> Officer Diary</li>
        <li><span class="far fa-bank"></span> Court Diary</li>
        <li><span class="far fa-bed"></span> Approved Premises Diary</li>
        <li><span class="far fa-book"></span> UPW Project Diary</li>
        <li><span class="far fa-paint-brush"></span> UPW Projects</li>
        <li><span class="far fa-wrench"></span> Data Maintenance</li>
        <li><span class="far fa-database"></span> Reference Data</li>
        <li><span class="far fa-user"></span> User Administration</li>
        <li><span class="far fa-cog"></span> User Preferences</li>
        <li><span class="far fa-power-off"></span> Exit</li>
      </ul>
    </nav>

  </div>
  <div class="column-flex main-content push-top">

    <main id="content">

      <noscript>
        You need to enable JavaScript to run this app.
      </noscript>

      <!-- ANGULAR ROUTER - Main content -->
      <router-outlet></router-outlet>

      <div class="margin-top medium">&nbsp;</div>

    </main>

  </div>
</div>
