<header>
  <span class="far fa-bars delius-title mobile-only"></span>
  <span class="delius-title">National Delius</span>
  <nav class="delius-top-nav">
    <span class="margin-right medium"><span class="far fa-print"></span> Print</span>&nbsp;&nbsp;
    <span class="margin-right medium"><span class="far fa-file"></span> My Documents</span>&nbsp;&nbsp;
    <span class="far fa-cog"></span> User Preferences
  </nav>
</header>

<div class="sub-header" *ngIf="!rla.isActive">
  <hr class="dotted"/>

  <div class="pull-left pad-left">
    <p class="delius-body-xxsmall moj-!-color-white govuk-!-margin-top-2 govuk-!-margin-left-2">CRN: <span class="moj-!-color-blue">X087946</span> Name: <span class="moj-!-color-white">Alice Smith</span>
      D.O.B: 21/06/1976 (41) Offender Manager: <span class="moj-!-color-white">Created, CRC</span> - CRC Created, CPS Manchester<br/>
      Remand Status: not Applicable Tier: Not Yet Assessed</p>
  </div>
  <div class="pull-right pad-right">
    <span class="delius-icon-risk"></span>
    <span class="delius-icon-risk"></span>
    <span class="delius-icon-risk"></span>
    <span class="delius-icon-risk"></span>
    <span class="delius-icon-risk"></span>
  </div>
</div>

<div class="grid-flex">

  <div class="column-flex navigation delius-omit-mobile">

    <nav class="delius-nav" [ngClass]="{ 'push-down': !rla.isActive }">
      <ul>
        <li routerLinkActive="active" #rla="routerLinkActive" routerLink="/start" class="clickable"><span class="far fa-home"></span> Home
        </li>
        <li><span class="far fa-search"></span> National Search</li>
        <li><span class="far fa-eye"></span> National Custody Search</li>
        <li><span class="far fa-history"></span> Recently Viewed</li>
        <li><span class="far fa-briefcase"></span> Case Management</li>

        <!-- ANGULAR ROUTER - Navigation -->
        <router-outlet name="navigation"></router-outlet>

        <li><span class="far fa-calendar"></span> Officer Diary</li>
        <li><span class="far fa-bank"></span> Court Diary</li>
        <li><span class="far fa-bed"></span> Approved Premises Diary</li>
        <li><span class="far fa-book"></span> UPW Project Diary</li>
        <li><span class="far fa-paint-brush"></span> UPW Projects</li>
        <li><span class="far fa-wrench"></span> Data Maintenance</li>
        <li><span class="far fa-database"></span> Reference Data</li>
        <li><span class="far fa-user"></span> User Administration</li>
        <li><span class="far fa-cog"></span> User Preferences</li>
        <li><span class="far fa-power-off"></span> Exit</li>
      </ul>
    </nav>

  </div>
  <div class="column-flex govuk-width-container push-top" [ngClass]="{ 'double': !rla.isActive }">

    <main class="govuk-main-wrapper" id="content" role="main">

      <noscript>
        You need to enable JavaScript to run this app.
      </noscript>

      <!-- ANGULAR ROUTER - Main content -->
      <router-outlet></router-outlet>

      <div class="margin-top medium">&nbsp;</div>

    </main>

  </div>
</div>
