<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="govuk-heading-xl govuk-!-margin-top-6">OPD pathway</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[{ name: 'opdPathway', error: 'Specify if the prisoner has met OPD screening criteria and been considered for OPD pathway services' }, { name: 'opdScreeningDate', error: 'Enter the OPD screening date' }]">
    </app-form-error>

    <!-- ANGULAR COMPONENT -->
    <app-notice>
      All prisoners must be screened against the OPD pathway criteria. If this has not been completed at the point of
      parole you must do it before submitting your PAROM1 and use it to inform your report
    </app-notice>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- ANGULAR COMPONENT -->
      <app-three-field-date [group]="reportForm" name="opdScreeningDate" label="Date of OPD screening"
                            required="true" [error]="formError"
                            errorMessage="Enter the OPD screening date"
                            help="For example, 31 3 1980">

      </app-three-field-date>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"/>

      <!-- ANGULAR COMPONENT -->
      <app-radio-buttons [group]="reportForm" name="opdPathway" [options]="['Yes', 'No']" conditional="true"
                         required="true" [error]="formError" inline="true"
                         includeLabel="OPD guidance"
                         label="Has the prisoner been screened into the OPD pathway (OPD criteria met)?"
                         errorMessage="Specify if the prisoner has been screened into the OPD pathway (OPD criteria met)">

        <p class="govuk-body">Use the OPD consultation or formulation to inform the assessment and the
          relevant sections of the report, for example, interventions, RMP and sentence plan. Do not copy a
          formulation into the report.</p>

        <ng-template>
          <div class="govuk-radios__conditional" *ngIf="reportForm.get('opdPathway').value === 'Yes'">

            <!-- ANGULAR COMPONENT -->
            <app-radio-buttons [group]="reportForm" name="consultationOrFormulation" [options]="['Yes', 'No']"
                               required="true" [error]="formError" inline="true"
                               label="Have you received consultation or a formulation?"
                               errorMessage="Specify if you have received consultation or a formulation"
                               includeLabel="OPD guidance">

            </app-radio-buttons>

          </div>
        </ng-template>

      </app-radio-buttons>

      <!-- ANGULAR COMPONENT -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
