<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="govuk-heading-xl govuk-!-margin-top-6">OPD pathway</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[{ name: 'opdPathway', error: 'Specify whether the prisoner has met the OPD screening criteria and been considered for OPD pathway services' }]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- ANGULAR COMPONENT -->
      <app-radio-buttons [group]="reportForm" name="opdPathway" [options]="['Yes', 'No']" conditional="true" required="true" [error]="formError"
                         label="Has the prisoner met the OPD screening criteria and been considered for OPD pathway services?"
                         errorMessage="Specify whether the prisoner has met the OPD screening criteria and been considered for OPD pathway services">
      </app-radio-buttons>

      <div class="govuk-radios__conditional" [ngClass]="{ 'govuk-visually-hidden': reportForm.get('opdPathway').value !== 'Yes' }">
        <p class="govuk-body">Make reference, where relevant, throughout this report if:</p>

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
          <li>You have consulted OPD pathway services about the prisoner</li>
          <li>The prisoner is engaged with OPD pathway services</li>
        </ul>

      </div>

      <!-- ANGULAR COMPONENT -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
