<!-- Angular component -->
<app-phase-banner></app-phase-banner>

<h1 class="govuk-heading-xl govuk-!-margin-top-6">Risk to the prisoner</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <!-- Angular component -->
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- Angular component -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'selfHarmCommunity', error: 'Tell us if the prisoner poses a self harming risk in the community' },
                    { name: 'selfHarmCustody', error: 'Tell us if the prisoner poses a self harming risk in custody' },
                    { name: 'harmOthersCommunity', error: 'Tell us if the prisoner is at risk of serious harm from others in the community' },
                    { name: 'harmOthersCustody', error: 'Tell us if the prisoner is at risk of serious harm from others in custody' }
                    ]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <h2 class="govuk-caption-xl govuk-!-margin-top-0 govuk-!-margin-bottom-4">Does the prisoner pose a risk of self harm?</h2>

      <!-- Angular component -->
      <app-radio-buttons [group]="reportForm" name="selfHarmCommunity"
                         label="In the community"
                         [options]="['Yes', 'No']" required="true" [error]="formError"
                         errorMessage="Tell us if the prisoner poses a self harming risk in the community">
      </app-radio-buttons>

      <!-- Angular component -->
      <app-radio-buttons [group]="reportForm" name="selfHarmCustody"
                         label="In custody"
                         [options]="['Yes', 'No']" required="true" [error]="formError"
                         errorMessage="Tell us if the prisoner poses a self harming risk in custody">
      </app-radio-buttons>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

      <h2 class="govuk-caption-xl govuk-!-margin-bottom-3">Is the prisoner at risk of serious harm from others?</h2>

      <!-- Angular component -->
      <app-radio-buttons [group]="reportForm" name="harmOthersCommunity"
                         label="In the community"
                         [options]="['Yes', 'No']" required="true" [error]="formError"
                         errorMessage="Tell us if the prisoner is at risk of serious harm from others in the community">
      </app-radio-buttons>

      <!-- Angular component -->
      <app-radio-buttons [group]="reportForm" name="harmOthersCustody"
                         label="In custody"
                         [options]="['Yes', 'No']" required="true" [error]="formError"
                         errorMessage="Tell us if the prisoner is at risk of serious harm from others in custody">
      </app-radio-buttons>

      <!-- Angular component -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
