<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="govuk-heading-xl govuk-!-margin-top-6">Supervision plan for release</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <!-- Angular component -->
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- Angular component -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[{ name: 'supervisionPlanRequired', error: 'Specify if the prisoner requires a supervision plan for release' }]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <app-radio-buttons [group]="reportForm" name="supervisionPlanRequired"
                         label="Does the prisoner require a supervision plan for release?" conditional="true"
                         help="The Parole Board do not require a supervision plan if the prisoner is pre-tariff"
                         [error]="formError" inline="true"
                         errorMessage="Specify if the prisoner requires a supervision plan for release"
                         [options]="['Yes', 'No']"
                         required="true">

        <ng-template let-option let-inline>
          <div class="govuk-radios__conditional" *ngIf="(option === 'Yes' || inline)  && reportForm.get('supervisionPlanRequired').value === 'Yes'">

            <!-- Angular component -->
            <app-text-entry [group]="reportForm" name="supervisionPlanForRelease"
                            label="Detail the supervision plan for release"
                            (onSaveContent)="saveContent(reportForm)">

              <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
                <li>A supervision plan which outlines what objectives the prisoner is required to complete upon release.  The objectives should meet the required risk, need and responsivity considerations to help ensure the licence period is successful.</li>
                <li>Evidence that the prisoner has engaged in the sentence plan process.  Prisoners should be clear on the purpose of any interventions and be encouraged to take responsibility for the objectives they have agreed.</li>
                <li>Objectives to address RoSH in child, adult and victim safeguarding cases.</li>
                <li>A reference to the likelihood of compliance with supervision.</li>
                <li>Analysis of additional factors to encourage and support compliance - this is pertinent for prisoners who have served long sentences or entered custody as a juvenile. They could feel institutionalised or struggle to manage the demands of life in the community, for example, claiming benefits or new technology.</li>
              </ul>
            </app-text-entry>

          </div>
        </ng-template>

      </app-radio-buttons>

      <!-- ANGULAR COMPONENT -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
