<h1 class="heading-xlarge no-margin-bottom">Offence details</h1>

<div class="grid-row">
  <div class="column-two-thirds">

    <div class="margin-top large">&nbsp;</div>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm.valid)" novalidate>

      <div class="form-group" [ngClass]="{ 'form-group-error': (reportForm.get('mainOffence').touched || formError) && reportForm.get('mainOffence').errors }">
        <label for="mainOffence">
          <span class="form-label-bold">Main offence and dates</span>
        </label>
        <app-error-messages control="mainOffence" [active]="(reportForm.get('mainOffence').touched || formError) && reportForm.get('mainOffence').errors"></app-error-messages>
        <textarea id="mainOffence" formControlName="mainOffence" class="form-control wide" role="textbox" placeholder="Start typing here..." aria-required="true" aria-describedby="mainOffence_error" required></textarea>
      </div>

      <hr noshade />

      <div class="form-group">
        <label for="otherOffence">
          <span class="form-label-bold">Other offences and dates</span>
        </label>
        <textarea id="otherOffence" formControlName="otherOffence" class="form-control wide" role="textbox" placeholder="Start typing here..."></textarea>
      </div>

      <hr noshade />

      <div class="form-group" [ngClass]="{ 'form-group-error': (reportForm.get('offenceSummary').touched || formError) && reportForm.get('offenceSummary').errors }">
        <label for="offenceSummary">
          <span class="form-label-bold">Brief summary of the offence</span>
        </label>
        <app-error-messages control="offenceSummary" [active]="(reportForm.get('offenceSummary').touched || formError) && reportForm.get('offenceSummary').errors"></app-error-messages>
        <textarea id="offenceSummary" formControlName="offenceSummary" class="form-control wide" role="textbox" placeholder="Start typing here..." aria-required="true" aria-describedby="offenceSummary_error" required></textarea>
      </div>

      <input class="button" id="nextButton" type="submit" value="Save & continue" />

    </form>

  </div>
  <div class="column-one-third">

    <!-- Angular component -->
    <app-navigation></app-navigation>

  </div>
</div>
