<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="govuk-heading-xl govuk-!-margin-top-6">ROSH analysis</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'seriousHarmOthers', error: 'Detail the nature of the risk of serious harm' },
                    { name: 'increaseFactors', error: 'What factors might increase the risk of serious harm' },
                    { name: 'reductionFactors', error: 'What factors that might decrease the risk of serious harm' },
                    { name: 'likelihoodOfReoffending', error: 'Enter the likelihood of further offending' },
                    { name: 'abscondingRisk', error: 'Specify if in closed conditions, the prisoner poses an absconding risk' }
                    ]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- ANGULAR COMPONENT -->
      <app-text-entry [group]="reportForm" name="seriousHarmOthers"
                      label="Detail the nature of the risk of serious harm to all relevant groups"
                      help="Explain why they are at risk"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError"
                      errorMessage="Detail the nature of the risk of serious harm">
      </app-text-entry>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

      <!-- ANGULAR COMPONENT -->
      <app-text-entry [group]="reportForm" name="increaseFactors"
                      label="What factors might increase the risk of serious harm?"
                      help="Include identified patterns of behaviour and offending, consider offence parallel behaviours."
                      (onSaveContent)="saveContent(reportForm)" [error]="formError"
                      errorMessage="What factors might increase the risk of serious harm">
      </app-text-entry>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

      <!-- ANGULAR COMPONENT -->
      <app-text-entry [group]="reportForm" name="reductionFactors"
                      label="What factors that might decrease the risk of serious harm?"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError"
                      errorMessage="What factors that might decrease the risk of serious harm">
      </app-text-entry>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

      <!-- ANGULAR COMPONENT -->
      <app-text-entry [group]="reportForm" name="likelihoodOfReoffending" [error]="formError"
                      label="Analyse the likelihood of further offending"
                      help="Consider the static and dynamic assessment scores in this report and the impact of further offending"
                      errorMessage="Enter the likelihood of further offending"></app-text-entry>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

      <!-- ANGULAR COMPONENT -->
      <app-radio-buttons [group]="reportForm" name="abscondingRisk" [options]="['Yes', 'No']" required="true"
                         [error]="formError" conditional="true"
                         label="If in closed conditions, does the prisoner pose an absconding risk?"
                         errorMessage="Specify if in closed conditions, the prisoner poses an absconding risk">
      </app-radio-buttons>

      <!-- ABSCONDING RISK -->
      <div class="govuk-radios__conditional"
           [ngClass]="{ 'govuk-visually-hidden': reportForm.get('abscondingRisk').value !== 'Yes' }"
           [attr.aria-hidden]="reportForm.get('abscondingRisk').value !== 'Yes'">

        <!-- ANGULAR COMPONENT -->
        <app-text-entry [group]="reportForm" name="abscondingRiskDetails"
                        label="Provide details of the absconding risk">
        </app-text-entry>

      </div>

      <br/>

      <!-- ANGULAR COMPONENT -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
