<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="govuk-heading-xl govuk-!-margin-top-6">RoSH analysis</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'seriousHarmOthers', error: 'Detail the nature of the risk of serious harm' },
                    { name: 'increaseFactors', error: 'What factors might increase the risk of serious harm to all relevant groups' },
                    { name: 'reductionFactors', error: 'What factors that might decrease the risk of serious harm to all relevant groups' },
                    { name: 'likelihoodOfReoffending', error: 'Enter the likelihood of further offending' },
                    { name: 'abscondingRisk', error: 'Specify if the prisoner poses a risk of absconding' }
                    ]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- ANGULAR COMPONENT -->
      <app-text-entry [group]="reportForm" name="seriousHarmOthers"
                      label="Detail the nature of the risk of serious harm to all relevant groups"
                      help="Explain why they are at risk"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError"
                      errorMessage="Detail the nature of the risk of serious harm">

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
          <li>The nature of the risk to all victims who remain at risk at the completion of this report.</li>
          <li>Consideration of the risk to victims from the index offence and from relevant previous offences.</li>
          <li>Risks to the prisoner through self-harm or from others.</li>
          <li>Analysis and a clear indication of the nature of the risk, for example, physical, emotional, psychological or financial. Avoid generalisations such as ‘violence’ - be specific, for example, ‘use of physical violence including strangulation’ or ‘emotional abuse in the form of controlling behaviours’.</li>
          <li>A distinction between direct harm (for example, physical abuse or neglect) or indirect harm (for example, emotional harm due to witnessing domestic abuse), if risks to children have been identified.</li>
        </ul>
      </app-text-entry>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

      <!-- ANGULAR COMPONENT -->
      <app-text-entry [group]="reportForm" name="increaseFactors"
                      label="What factors might increase the risk of serious harm to all relevant groups?"
                      help="Include identified patterns of behaviour and offending, consider offence parallel behaviours."
                      (onSaveContent)="saveContent(reportForm)" [error]="formError"
                      errorMessage="What factors might increase the risk of serious harm to all relevant groups">

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
          <li>An account for each victim, now and in the past - include risks to self.</li>
          <li>Identification of triggers, factors, situations, people, places and other potential circumstances that might increase the risk, now and in the future. Record if they are currently present or absent.</li>
          <li>A link between the original (this could include PSR or MALRAP) and the current risk assessments - include what has changed. Use the OASys assessment and other relevant assessments.</li>
          <li>Information from prison staff, gender identity clinics or previous and current agencies. For example, a mental health professional can advise you about a prisoner’s behaviour if they stop taking medication.</li>
          <li>Information from previous probation records might be useful, for example, how a prisoner coped with a difficult situation.</li>
          <li>Information from ViSOR and MAPPA meetings might be useful.</li>
          <li>Consideration for women who may have been victimised or experienced physical or sexual abuse - how the risk might increase on their release.</li>
          <li>Information from PD case formulations - specialists develop hypotheses about development, activation and maintenance of problems.</li>
          <li>Factors linked to risk from previous Parole Board direction letters.</li>
          <li>Consideration for previous offences and paralleling behaviours linked to risk.</li>
          <li>A full analysis - not bulleted points without description. The factors you have identified in this section will need to be addressed in the ‘Contingency plan’ section of the RMP for all on and post-tariff prisoners.</li>
        </ul>
      </app-text-entry>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

      <!-- ANGULAR COMPONENT -->
      <app-text-entry [group]="reportForm" name="reductionFactors"
                      label="What factors that might decrease the risk of serious harm to all relevant groups?"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError"
                      errorMessage="What factors that might decrease the risk of serious harm to all relevant groups">

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
          <li>An account for each victim, now and in the past - include risks to self.</li>
          <li>OASys and relevant assessments supported by evidence.</li>
          <li>Identification of positive and protective factors, for example, support networks and personal strengths that promote desistance.</li>
          <li>Identification of restrictive measures and specific interventions such as approved premises, civil orders and additional licence conditions.</li>
          <li>Factors that have prevented the prisoner from causing harm, for example, engagement with statutory and non-statutory agencies or the identification of specific work.</li>
          <li>Consideration for interventions and support for women, particularly if they are vulnerable.</li>
          <li>Information from PD case formulations - specialists can identify risk reduction factors.</li>
          <li>Consideration for potential referrals related to adult and child safeguarding, existing child protection plans or care and support plans.</li>
          <li>A full analysis - not bulleted points without description.</li>
        </ul>
      </app-text-entry>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

      <!-- ANGULAR COMPONENT -->
      <app-text-entry [group]="reportForm" name="likelihoodOfReoffending" [error]="formError"
                      label="Analyse the likelihood of further offending"
                      help="Consider the static and dynamic assessment scores in this report and the impact of further offending"
                      errorMessage="Enter the likelihood of further offending">

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
          <li>A Reference to static and dynamic assessment tools such as OGRS, OGP, OVP, RSR and other specialist assessments such as RM2k, HCR-20, SARN, SARA, and PCLR.</li>
          <li>Evidenced professional judgement if there is a deviation from the assessment tool score.</li>
          <li>A link between the original and the current risk assessments - include what has changed. In some instances, it might be that the current offender manager did not agree with the original assessment.</li>
          <li>Analysis of the likelihood of further offending - not a basic description such as low, medium, high, very high or imminent.</li>
          <li>Consideration for the type of re-offending that might take place and the time frame in which it could occur.</li>
        </ul>
      </app-text-entry>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

      <!-- ANGULAR COMPONENT -->
      <app-radio-buttons [group]="reportForm" name="abscondingRisk" [options]="['Yes', 'No']" required="true"
                         [error]="formError" conditional="true" inline="true"
                         label="Does the prisoner pose a risk of absconding?"
                         errorMessage="Specify if the prisoner poses a risk of absconding">

        <ng-template let-option let-inline>
          <div class="govuk-radios__conditional" *ngIf="(option === 'Yes' || inline) && reportForm.get('abscondingRisk').value === 'Yes'">

            <!-- ANGULAR COMPONENT -->
            <app-text-entry [group]="reportForm" name="abscondingRiskDetails"
                            label="Provide details of the absconding risk">

              <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
                <li>A summary of the absconding risk.</li>
                <li>Concerns while the prisoner is in closed conditions - the risk assessment and RMP should reflect these. It should be clearly recorded in the contingency plan.</li>
                <li>Liaison with relevant agencies such as the police - ensure this is done.</li>
              </ul>
            </app-text-entry>

          </div>
        </ng-template>

      </app-radio-buttons>

      <!-- ANGULAR COMPONENT -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
