<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="govuk-heading-xl govuk-!-margin-top-6">Offender manager: prisoner contact</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'prisonerContact', error: 'Specify how long have you been assigned to the prisoner and what contact have you had with them' },
                    { name: 'prisonerFamilyContact', error: 'Specify what contact have you had with the prisoner\'s family, partner or significant others' },
                    { name: 'prisonerStaffContact', error: 'Specify what contact have you had with other relevant agencies about the prisoner' }
                    ]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="prisonerContactDetails"
                      label="How long have you managed the prisoner, and what contact have you had with them?"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError" errorMessage="Specify how long have you been assigned to the prisoner and what contact have you had with them"></app-text-entry>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="prisonerFamilyContact"
                      label="What contact have you had with the prisoner's family, partner or significant others?"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError" errorMessage="Specify what contact have you had with the prisoner's family, partner or significant others"></app-text-entry>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="prisonerStaffContact"
                      label="What contact have you had with other relevant agencies about the prisoner?"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError" errorMessage="Specify what contact have you had with other relevant agencies about the prisoner"></app-text-entry>

      <!-- ANGULAR COMPONENT -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
