<div class="footer-compensate"></div>

<footer class="report-footer">
  <div class="container">

    <div class="font-xxsmall inline margin-top">
      <div class="spinner inline">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
      <span>Changes saved</span>
    </div>&nbsp;

    <button id="nextButton" class="button tooltip" type="submit">Continue<span>Continue your report</span></button>
    &nbsp;
    <button id="closeButton" class="button secondary tooltip" type="button" (click)="saveDraft()">Close<span>Save and close your report</span></button>
  </div>
</footer>
