<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="heading-xlarge">Prisoner knowledge and contact</h1>

<div class="grid-row">
  <div class="column-one-third">
    <app-sub-navigation role="pom"></app-sub-navigation>
  </div>
  <div class="column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'riskOfAbsconding', error: 'Specify whether the prisoner been assessed as posing a risk of absconding' },
                    { name: 'rotl', error: 'Specify whether the prisoner undertaking or likely to undertake ROTL' },
                    { name: 'sourcesOfInformation', error: 'Enter the term that you been assigned to the prisoner and what contact have you had with them' },
                    { name: 'behaviourInPrison', error: 'Enter the prisoner\'s behaviour in prison' },
                    { name: 'furtherInformation', error: 'Enter any further information' }
                    ]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- ANGULAR COMPONENT -->
      <app-radio-buttons [group]="reportForm" name="riskOfAbsconding" [options]="['Yes', 'No']" required="true" [error]="formError"
                         label="Has the prisoner been assessed as posing a risk of absconding? (only in closed conditions)"
                         errorMessage="Specify whether the prisoner been assessed as posing a risk of absconding">

        <div class="panel panel-border-narrow" [ngClass]="{ 'js-hidden': !reportForm.get('riskOfAbsconding').value || reportForm.get('riskOfAbsconding').value === 'No' }" [attr.aria-hidden]="!reportForm.get('riskOfAbsconding').value || reportForm.get('riskOfAbsconding').value === 'No'">
          <!-- ANGULAR COMPONENT -->
          <app-text-entry [group]="reportForm" name="riskOfAbscondingDetails"
                          label="Provide details of the absconding risk"
                          (onSaveContent)="saveContent(reportForm)">
          </app-text-entry>
        </div>
      </app-radio-buttons>

      <br/>

      <!-- ANGULAR COMPONENT -->
      <app-radio-buttons [group]="reportForm" name="rotl" [options]="['Yes', 'No']" required="true" [error]="formError"
                         label="Is the prisoner being, or likely to be Released on Temporary Licence (ROTL)?"
                         help="Detail all relevant ROTL information including previous periods and it’s success. Give an explanation if the prisoner has not undertaken ROTL"
                         errorMessage="Specify whether the prisoner undertaking or likely to undertake ROTL">

        <div class="panel panel-border-narrow" [ngClass]="{ 'js-hidden': !reportForm.get('rotl').value || reportForm.get('rotl').value === 'No' }" [attr.aria-hidden]="!reportForm.get('rotl').value || reportForm.get('rotl').value === 'No'">
          <!-- ANGULAR COMPONENT -->
          <app-text-entry [group]="reportForm" name="rotlDetails"
                          label="Provide further ROTL information"
                          (onSaveContent)="saveContent(reportForm)">
            <ul>
              <li class="list-bullet">relevant information not already covered in this section</li>
              <li class="list-bullet">feedback from chaplaincy, healthcare, work or key worker</li>
            </ul>
          </app-text-entry>
        </div>
      </app-radio-buttons>

      <br/>

      <!-- ANGULAR COMPONENT -->
      <app-text-entry [group]="reportForm" name="lengthOfAssignment" [error]="formError"
                      label="How long have you been assigned to the prisoner and what contact have you had with them?"
                      help="Include the prisoner’s attitude to one to one work and their sentence plan since the last parole review"
                      errorMessage="Enter the term that you been assigned to the prisoner and what contact have you had with them"
                      (onSaveContent)="saveContent(reportForm)">
      </app-text-entry>

      <!-- ANGULAR COMPONENT -->
      <app-text-entry [group]="reportForm" name="behaviourInPrison" [error]="formError"
                      label="Prisoner's behaviour in prison"
                      help="Detail significant positive and negative behaviour"
                      errorMessage="Enter the prisoner's behaviour in prison"
                      (onSaveContent)="saveContent(reportForm)">
      </app-text-entry>

      <!-- ANGULAR COMPONENT -->
      <app-text-entry [group]="reportForm" name="furtherInformation" [error]="formError"
                      label="Further information"
                      errorMessage="Enter any further information"
                      (onSaveContent)="saveContent(reportForm)">
      </app-text-entry>

      <!-- ANGULAR COMPONENT -->
      <app-parom1-footer></app-parom1-footer>

    </form>

  </div>
</div>
