<div class="govuk-form-group" [ngClass]="{ 'govuk-form-group--error': hasGroupError() }">
  <fieldset [formGroup]="group.get(name)" class="govuk-fieldset" [attr.aria-describedby]="name + '-hint '  + name + '-error'" role="group">
    <legend class="govuk-fieldset__legend govuk-label">
      {{label}}
    </legend>
    <span [id]="name + '-hint'" class="govuk-hint" *ngIf="help">{{help}}</span>
    <app-error-messages [control]="name" [message]="errorMessage" [active]="hasGroupError()"></app-error-messages>
    <div class="govuk-date-input" [id]="name">
      <div class="govuk-date-input__item govuk-date-input__item--day" *ngIf="group.get(name).get('day')">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" [for]="name + '-day'">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" [id]="name + '-day'" [name]="name + '-day'" [ngClass]="{ 'govuk-input--error': (group.get(name).get('day').touched || error) && group.get(name).get('day').errors }" formControlName="day" type="number" pattern="[0-9]*">
        </div>
      </div>
      <div class="govuk-date-input__item govuk-date-input__item--month" *ngIf="group.get(name).get('month')">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" [for]="name + '-month'">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" [id]="name + '-month'" [name]="name + '-month'" [ngClass]="{ 'govuk-input--error': (group.get(name).get('month').touched || error) && group.get(name).get('month').errors }" formControlName="month" type="number" pattern="[0-9]*">
        </div>
      </div>
      <div class="govuk-date-input__item govuk-date-input__item--year" *ngIf="group.get(name).get('year')">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" [for]="name + '-year'">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" [id]="name + '-year'" [name]="name + '-year'" [ngClass]="{ 'govuk-input--error': (group.get(name).get('year').touched || error) && group.get(name).get('year').errors }" formControlName="year" type="number" pattern="[0-9]*">
        </div>
      </div>
    </div>
  </fieldset>
</div>
