<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="govuk-heading-xl govuk-!-margin-top-6">Resettlement plan for release</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[{ name: 'resettlementPlanRequired', error: 'Specify if the prisoner requires a resettlement plan for release' }]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <app-radio-buttons [group]="reportForm" name="resettlementPlanRequired"
                         label="Does the prisoner require a resettlement plan for release?" conditional="true"
                         [error]="formError"
                         errorMessage="Specify if the prisoner requires a resettlement plan for release"
                         [options]="['Yes', 'No']"
                         required="true">

        <ng-template let-option>
          <div class="govuk-radios__conditional" *ngIf="option === 'Yes' && reportForm.get('resettlementPlanRequired').value === 'Yes'">

            <!-- Angular component -->
            <app-text-entry [group]="reportForm" name="resettlementPlanForRelease"
                            label="Detail the resettlement plan for release"
                            (onSaveContent)="saveContent(reportForm)">

              <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
                <li>accomodation details</li>
                <li>motivation to comply if released</li>
                <li>if the prisoner is safe to release</li>
              </ul>

            </app-text-entry>

          </div>
        </ng-template>

      </app-radio-buttons>

      <!-- ANGULAR COMPONENT -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
