<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="govuk-heading-xl govuk-!-margin-top-6">Resettlement plan for release</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[{ name: 'resettlementPlanRequired', error: 'Specify if the prisoner requires a resettlement plan for release' }]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <app-radio-buttons [group]="reportForm" name="resettlementPlanRequired"
                         label="Does the prisoner require a resettlement plan for release?" conditional="true"
                         help="The Parole Board do not require a resettlement plan if the prisoner is pre-tariff"
                         [error]="formError" inline="true"
                         errorMessage="Specify if the prisoner requires a resettlement plan for release"
                         [options]="['Yes', 'No']"
                         required="true">

        <ng-template let-option let-inline>
          <div class="govuk-radios__conditional" *ngIf="(option === 'Yes' || inline) && reportForm.get('resettlementPlanRequired').value === 'Yes'">

            <!-- Angular component -->
            <app-text-entry [group]="reportForm" name="resettlementPlanForRelease"
                            label="Detail the resettlement plan for release"
                            (onSaveContent)="saveContent(reportForm)">

              <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
                <li>Accommodation plans - with an assessment of suitability and likely compliance.</li>
                <li>Clarification that a referral to Approved Premises has been accepted, if appropriate. If a referral has not been accepted explain why.</li>
                <li>Analysis of the value an AP will add to risk management. Consideration of the impact an AP placement away from the prisoner’s home area, for example, female estates are not available in every division.</li>
                <li>Consideration if the prisoner entered custody as a juvenile, was a care leaver or has been in secure accommodation - they are unlikely to have experience of managing tenancies, budgeting and other life skills. State how they will be supported.</li>
                <li>An explanation, with reasons, of all relevant licence conditions required to manage risk - matched to those in the RMP.</li>
                <li>Victim and safeguarding issues, if appropriate.</li>
              </ul>
            </app-text-entry>

          </div>
        </ng-template>

      </app-radio-buttons>

      <!-- ANGULAR COMPONENT -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
