<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="govuk-heading-xl govuk-!-margin-top-6">Offender assessment</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- Angular component -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'trauma', error: 'Specify whether there is evidence of the offender experiencing trauma' },
                    { name: 'caring', error: 'Specify whether the offender has caring responsibilities for children or adults' }
                    ]">
    </app-form-error>

    <h1 class="govuk-fieldset__heading">
      <span class="govuk-caption-xl">Select the underlying issues that are relevant as motivators or drivers for the main offence</span>
    </h1>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Offender assessment guidance
              </span>
      </summary>
      <div class="govuk-details__text">
        <p>Key aspects of the person’s circumstances should be detailed. Those which are linked to their offending
          behaviour should be highlighted.</p>
        <p>Make sure that you select all of the factors that have impacted on offending, and that may impact on future
          risk of re offending.</p>
        <p>Also, consider if there are factors that are not directly linked. These may cause difficulties for the
          offender and impact on their desistance from crime.</p>
      </div>
    </details>

    <!-- Angular component -->
    <app-notice>
      By not selecting an issue you are indicating it is not relevant
    </app-notice>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <app-checkboxes [options]="sections" [group]="reportForm"></app-checkboxes>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

      <app-radio-buttons [group]="reportForm" name="trauma" [options]="['Yes', 'No']"
                         label="Is there evidence of the offender experiencing trauma?"
                         required="true" conditional="true" [error]="formError"
                         errorMessage="Specify whether there is evidence of the offender experiencing trauma">
        <p>Trauma can affect an offender’s ability to engage and make decisions. Detail the offender’s experience of
          trauma, and how it has affected their offending and their engagement with rehabilitative interventions.</p>
      </app-radio-buttons>

      <div class="govuk-radios__conditional" [ngClass]="{'js-hidden': reportForm.get('trauma').value !== 'Yes' }">

        <app-text-entry [group]="reportForm" name="traumaDetails" label="Experience of trauma"></app-text-entry>

      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

      <app-radio-buttons [group]="reportForm" name="caring" [options]="['Yes', 'No']"
                         label="Does the offender have caring responsibilities for children or adults, or have they ever had caring responsibilities for children or adults?"
                         required="true" conditional="true" [error]="formError"
                         errorMessage="Specify whether the offender has caring responsibilities for children or adults">
        <p>Detail the offender’s current and past caring responsibilities for children and adults. How have those
          responsibilities affected their offending and their engagement with rehabilitative interventions?</p>
      </app-radio-buttons>

      <div class="govuk-radios__conditional" [ngClass]="{'js-hidden': reportForm.get('caring').value !== 'Yes' }">

        <app-text-entry [group]="reportForm" name="caringDetails" label="Caring responsibilities"></app-text-entry>

      </div>

      <!-- Angular component -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
