<li routerLinkActive="active" routerLink="/sfpsr/offender-details" class="sub-item clickable">Offender details</li>
<li routerLinkActive="active" routerLink="/sfpsr/court-details" class="sub-item clickable">Sentencing court details</li>
<li routerLinkActive="active" routerLink="/sfpsr/information-sources" class="sub-item clickable">Sources of information</li>
<li routerLinkActive="active" routerLink="/sfpsr/offence-details" class="sub-item clickable">Offence details</li>
<li routerLinkActive="active" routerLink="/sfpsr/offence-analysis" class="sub-item clickable">Offence analysis</li>
<li routerLinkActive="active" routerLink="/sfpsr/offender-assessment" class="sub-item clickable">Offender assessment</li>
<li routerLinkActive="active" routerLink="/sfpsr/risk-assessment" class="sub-item clickable">Risk assessment</li>
<li routerLinkActive="active" routerLink="/sfpsr/proposed-sentence" class="sub-item clickable">Conclusion</li>
<li routerLinkActive="active" routerLink="/sfpsr/check-report" class="sub-item clickable">Check your report</li>
<li routerLink="/sfpsr/signature" routerLinkActive="active" #rla="routerLinkActive" [ngClass]="{ 'js-hidden': !isValid }" class="sub-item clickable">Sign and date your report</li>
<li id="saveDraft" routerLinkActive="active" routerLink="/sfpsr/save-draft" class="sub-item clickable" *ngIf="!rla.isActive">Save draft report</li>
