<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="heading-xlarge">Signature and date</h1>

<div class="grid-row">
  <div class="column-one-third">
    <app-sub-navigation role="pom"></app-sub-navigation>
  </div>
  <div class="column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'reportAuthor', error: 'Enter your name' },
                    { name: 'prison', error: 'Enter the Prison' },
                    { name: 'reportDate', error: 'Enter the report date' }
                    ]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- ANGULAR COMPONENT -->
      <app-input [group]="reportForm" name="reportAuthor" [error]="formError" required="true"
                 label="Name"
                 errorMessage="Enter your name"></app-input>

      <!-- ANGULAR COMPONENT -->
      <app-input [group]="reportForm" name="prison" [error]="formError" required="true"
                 label="Prison"
                 errorMessage="Enter the prison"></app-input>

      <!-- ANGULAR COMPONENT -->
      <app-input [group]="reportForm" name="counterSignature" label="Name of counter signature (if required)"></app-input>

      <!-- ANGULAR COMPONENT -->
      <app-input [group]="reportForm" name="counterSignatureRole" label="Role of counter signature (if required)"></app-input>

      <div class="form-group">
        <label for="startDate" class="form-label-bold">Start date</label>
        <input class="form-control half-width no-border" id="startDate" formControlName="startDate" type="text" aria-readonly="true" readonly />
      </div>

      <!-- ANGULAR COMPONENT -->
      <app-input [group]="reportForm" name="reportDate" required="true" date="true" [error]="formError"
                 label="Completion date"
                 help="For example: 28/06/2017"
                 errorMessage="Enter the report date"></app-input>

      <app-footer [draftEnabled]="false" label="Submit" hint="Submit and view your report"></app-footer>

    </form>

  </div>
</div>
