<div class="govuk-form-group" [formGroup]="group" [ngClass]="{ 'govuk-form-group--error': required && error && group.get(name).errors }">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-label">
      {{label}}
    </legend>
    <span [id]="name + '-hint'" class="govuk-hint" *ngIf="help">{{help}}</span>

    <div [hidden]="!showHint">
      <details class="govuk-details govuk-!-margin-bottom-2">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">What to include</span>
        </summary>
        <div #hint class="govuk-details__text govuk-!-margin-bottom-4">
          <ng-content></ng-content>
        </div>
      </details>
    </div>

    <app-error-messages [control]="name" [message]="errorMessage"[active]="required && error && group.get(name).errors"></app-error-messages>

    <div class="govuk-radios govuk-!-margin-top-2" [ngClass]="{ 'govuk-radios--inline': inline }">

      <ng-template ngFor let-option [ngForOf]="options" let-index="index">

        <div class="govuk-radios__item">
          <input [formControlName]="name" class="govuk-radios__input" [id]="name + '-radio-' + index" type="radio" [value]="option" [attr.aria-checked]="group.get(name).value === option">
          <label class="govuk-label govuk-radios__label" [for]="name + '-radio-' + index">
            {{option}}
          </label>
        </div>

        <ng-template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{$implicit: option}" *ngIf="!inline"></ng-template>

      </ng-template>

    </div>

    <ng-template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{$implicit: inline}" *ngIf="inline"></ng-template>

  </fieldset>
</div>
