<div class="form-group" [formGroup]="group" [ngClass]="{ 'form-group-error': group.get(name).errors && (group.get(name).touched || error) }">
  <label [for]="name">
    <span class="form-label-bold">{{label}}</span>
    <span class="form-hint" *ngIf="help">{{help}}</span>
  </label>
  <div [hidden]="!showHint">
    <a href="javascript:void(0)" class="expand-content" [ngClass]="{ 'active': expandContent }" (click)="expandContent = !expandContent">What to include</a>
    <div #hint class="panel panel-border-narrow margin-top" [ngClass]="{ 'js-hidden': !expandContent }" [attr.aria-hidden]="!expandContent">
      <ng-content></ng-content>
    </div>
  </div>
  <div *ngIf="expandContent">&nbsp;</div>
  <app-error-messages [control]="name" [active]="group.get(name).errors && (group.get(name).touched || error)" [message]="errorMessage"></app-error-messages>
  <textarea #textArea [id]="name" [formControlName]="name" class="form-control wide" [ngClass]="{ 'classic': classic }" [placeholder]="placeholder" (focus)="startSaving()" (blur)="saveProgress()"></textarea>
</div>

<div class="pull-left" *ngIf="limit && group.get(name).value.length">
  <p class="form-hint">{{limitText}}</p>
</div>

<div class="clearfix"></div>
