<div class="govuk-form-group" [formGroup]="group" [ngClass]="{ 'govuk-form-group--error': group.get(name).errors && (group.get(name).touched || error) }">
  <label class="govuk-label" [for]="name">
    {{label}}
  </label>
  <span [id]="name + '-hint'" class="govuk-hint" *ngIf="help">
    {{help}}
  </span>

  <div [hidden]="!showHint">
    <details class="govuk-details govuk-!-margin-bottom-2">
      <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        What to include
      </span>
      </summary>
      <div #hint class="govuk-details__text govuk-!-margin-bottom-4">
        <ng-content></ng-content>
      </div>
    </details>
  </div>

  <app-error-messages [control]="name" [active]="group.get(name).errors && (group.get(name).touched || error)" [message]="errorMessage"></app-error-messages>
  <textarea #textArea [id]="name" [name]="name" [formControlName]="name" class="govuk-textarea moj-textarea" [attr.aria-describedby]="name + '-hint ' + name + '-error'" [ngClass]="{ 'moj-textarea--classic': classic, 'govuk-!-width-one-half': classic && !wide }" [placeholder]="placeholder" (focus)="startSaving()" (blur)="saveProgress()"></textarea>

  <div *ngIf="limit && group.get(name).value.length">
    <p class="govuk-hint">{{limitText}}</p>
  </div>

</div>
