<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-6">

  <h1 class="govuk-panel__title govuk-!-margin-top-6">Addendum saved</h1>

  <p class="govuk-panel__body">Your addendum has been saved<br>and uploaded successfully to Delius</p>

</div>

<div class="moj-box-border govuk-!-margin-top-4">

  <h2 class="govuk-heading-l">What to do next</h2>

  <table role="presentation">
    <tbody>
    <tr>
      <td style="width: 36px; vertical-align: top;">
        <span class="moj-icon moj-icon--pdf"></span>
      </td>
      <td>
        <p class="govuk-body">Review and print your addendum<br/><a href="assets/pdf/report.pdf" class="bold" target="_blank">View your draft PDF report</a></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">
        <span class="moj-icon moj-icon--edit"></span>
      </td>
      <td>
        <p class="govuk-body">Check or edit your addendum again<br/><a href="javascript:void(0);" class="bold" (click)="startOver()">Update or change your addendum</a></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">
        <span class="moj-icon moj-icon--list"></span>
      </td>
      <td>
        <p class="govuk-body">Close this report<br/><a href="javascript:void(0);" class="bold" (click)="close()">View your document list</a></p>
      </td>
    </tr>
    </tbody>
  </table>

</div>

<p class="govuk-body govuk-!-margin-top-6"><a routerLink="/psr-addendum/feedback">What did you think of this service?</a> (takes 30 seconds)</p>
