<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="heading-xlarge">Addendum detail</h1>

<div class="grid-row">
  <div class="column-two-thirds">

    <div class="error-summary no-margin-top" *ngIf="formError && !reportForm.valid">
      <h2 class="heading-medium no-margin-top">You need to fix the errors on this page before continuing</h2>

      <p>See highlighted errors below</p>

      <p class="error-message" *ngIf="reportForm.get('detail').errors">You must enter your addendum</p>
    </div>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="detail" label="Enter your addendum to the Pre-sentence report" errorMessage="You must enter your addendum" [error]="formError" (onSaveContent)="saveContent(reportForm)"></app-text-entry>

      <input class="button" id="nextButton" type="submit" value="Save & continue" />

    </form>

  </div>
  <div class="column-one-third">&nbsp;</div>
</div>
