<!-- Angular component -->
<app-phase-banner></app-phase-banner>

<h1 class="heading-xlarge">Offence details</h1>

<div class="grid-row">
  <div class="column-one-third">
    <!-- Angular component -->
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="column-two-thirds">

    <!-- Angular component -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'mainOffence', error: 'Enter the main offence and dates' },
                    { name: 'offenceSummary', error: 'You must enter a brief summary of the offence' }
                    ]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="mainOffence" label="Main offence and dates" errorMessage="Enter the main offence and dates" [error]="formError" (onSaveContent)="saveContent(reportForm)"></app-text-entry>

      <hr noshade />

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="otherOffence" label="Other offences and dates (if applicable)" (onSaveContent)="saveContent(reportForm)"></app-text-entry>

      <hr noshade />

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="offenceSummary" label="Brief summary of the offence" errorMessage="You must enter a brief summary of the offence" [error]="formError" (onSaveContent)="saveContent(reportForm)">
        <p>Describe the offence or the incident. In this summary, judges and magistrates need to know where your information is coming from. Be clear when it’s from CPS, probation or from the offender.</p>
      </app-text-entry>

      <!-- Angular component -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
