<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="govuk-heading-xl govuk-!-margin-top-6">Multi Agency Public Protection Arrangements (MAPPA)</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'screenedDate', error: 'Enter the date the prisoner was screened for MAPPA' },
                    { name: 'mappaCategory', error: 'Select the prisoner\'s current MAPPA category' },
                    { name: 'mappaLevel', error: 'Select the prisoner\'s current MAPPA level' }
                    ]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- ANGULAR COMPONENT -->
      <app-notice>
        This must be completed if a prisoner is eligible for release
      </app-notice>

      <!-- ANGULAR COMPONENT -->
      <app-three-field-date [group]="reportForm" name="screenedDate"
                            label="What date was the prisoner screened for MAPPA (MAPPAQ completed)?"
                            help="For example, 31 3 2018" [error]="formError" required="true"
                            errorMessage="Enter the date the prisoner was screened for MAPPA"></app-three-field-date>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"/>

      <!-- ANGULAR COMPONENT -->
      <app-radio-buttons [group]="reportForm" name="mappaCategory" [options]="['1', '2', '3']" required="true" [error]="formError"
                         label="What is the prisoner's current MAPPA category?"
                         errorMessage="Select the prisoner's current MAPPA category">
      </app-radio-buttons>

      <!-- ANGULAR COMPONENT -->
      <app-radio-buttons [group]="reportForm" name="mappaLevel" [options]="['1', '2', '3']" required="true" [error]="formError"
                         label="What is the prisoner's current MAPPA level?"
                         errorMessage="Select the prisoner's current MAPPA level">
      </app-radio-buttons>

      <!-- ANGULAR COMPONENT -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
