<div class="grid-row margin-top medium">
  <div class="column-one-half">

    <table role="presentation">
      <tr>
        <td width="125">
          <img src="/assets/images/placeholder_f.jpg"/>
        </td>
        <td>
          <h1 class="heading-medium no-margin">{{data.name}}</h1>
          <p class="margin-top no-margin-bottom">Date of birth</p>
          <p class="heading-medium no-margin">{{data.dobDay + '/' + data.dobMonth + '/' + data.dobYear}}</p>

          <p class="margin-top no-margin-bottom">CRN</p>
          <p class="heading-medium no-margin">{{data.crn}}</p>
        </td>
      </tr>
    </table>

  </div>
  <div class="column-one-half">

    <div class="risk-alert"
         [ngClass]="{ 'high': risk.toLowerCase() === 'high', 'medium': risk.toLowerCase() ==='medium' }" *ngIf="risk">
      {{risk}} risk of serious harm
    </div>

  </div>
</div>
