<div class="govuk-grid-row govuk-!-margin-top-3 app-offender-header" *ngIf="data">
  <div class="govuk-grid-column-one-half">
    <img [src]="'/assets/images/' + (data.CURRENT_DISPOSAL ? data.OFFENDER_ID : 'new_offender') + '.png'"/>
  </div>
  <div class="govuk-grid-column-one-half">

    <div class="moj-risk-alert" role="alert"
         [ngClass]="{
            'moj-risk-alert--high': risk.toLowerCase() === 'high',
            'moj-risk-alert--medium': risk.toLowerCase() ==='medium',
            'moj-risk-alert--low': risk.toLowerCase() ==='low'
            }" *ngIf="risk">
      {{risk}} risk of serious harm
    </div>

    <div class="moj-risk-alert moj-risk-alert--high moj-risk-alert--small" role="alert" *ngIf="data.ALERT">
      {{data.ALERT.description}}
    </div>
  </div>

  <div class="app-offender-name">
    <h1 class="govuk-heading-l govuk-!-margin-0 govuk-!-padding-0">{{data.SURNAME + ', ' + data.FIRST_NAME}}</h1>

    <p class="govuk-body govuk-!-margin-0 govuk-!-margin-top-2">Date of birth</p>
    <p class="govuk-heading-m govuk-!-margin-0 govuk-!-padding-0">{{pipeDate(data.DATE_OF_BIRTH_DATE)}}</p>

    <p class="govuk-body govuk-!-margin-0 govuk-!-margin-top-2">CRN</p>
    <p class="govuk-heading-m govuk-!-margin-0 govuk-!-padding-0">{{data.CRN}}</p>
  </div>
</div>
