<!-- Angular component -->
<app-phase-banner></app-phase-banner>

<h1 class="govuk-heading-xl govuk-!-margin-top-6">Sentencing court details</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <!-- Angular component -->
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <!-- Angular component -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'court', error: 'Enter the name of the sentencing court' },
                    { name: 'localJusticeArea', error: 'Enter the local justice area of the sentencing court' },
                    { name: 'hearingDate', error: 'Enter the date of the hearing' }
                    ]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- Angular component -->
      <app-input [group]="reportForm" name="court" required="true" [error]="formError" label="Court"
                 wide="true" errorMessage="Enter the name of the sentencing court"></app-input>

      <div class="govuk-form-group" [ngClass]="{ 'govuk-form-group--error': (reportForm.get('localJusticeArea').touched || formError) && reportForm.get('localJusticeArea').errors }">
        <label for="localJusticeArea" class="govuk-label">Local justice area</label>
        <!-- Angular component -->
        <app-error-messages control="localJusticeArea" message="Enter the local justice area of the sentencing court" [active]="(reportForm.get('localJusticeArea').touched || formError) && reportForm.get('localJusticeArea').errors"></app-error-messages>
        <select formControlName="localJusticeArea" id="localJusticeArea" class="form-control auto-complete">
          <option *ngFor="let area of localJusticeAreas" [ngValue]="area">{{area}}</option>
        </select>
      </div>

      <!-- Angular component -->
      <app-input [group]="reportForm" name="hearingDate" required="true" [error]="formError" label="Date of hearing"
                 help="For example: 28/06/2017" date="true"
                 errorMessage="Enter the name of the sentencing court"></app-input>

      <!-- Angular component -->
      <app-footer></app-footer>

    </form>

  </div>
</div>
