<!-- ANGULAR COMPONENT -->
<app-phase-banner></app-phase-banner>

<h1 class="heading-xlarge">Prisoner knowledge</h1>

<div class="grid-row">
  <div class="column-one-third">
    <app-sub-navigation></app-sub-navigation>
  </div>
  <div class="column-two-thirds">

    <!-- ANGULAR COMPONENT -->
    <app-form-error [group]="reportForm" [error]="formError && !reportForm.valid"
                    [controls]="[
                    { name: 'prisonerContact', error: 'Specify how long have you been assigned to the prisoner and what contact have you had with them' },
                    { name: 'prisonerFamilyContact', error: 'Specify what contact have you had with the prisoner\'s family, partner or significant other' },
                    { name: 'prisonerStaffContact', error: 'Specify what contact have you had with other relevant agencies or staff who are involved with the prisoner' }
                    ]">
    </app-form-error>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm)" novalidate>

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="prisonerContact"
                      label="How long have you been assigned to the prisoner and what contact have you had with them?"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError" errorMessage="Specify how long have you been assigned to the prisoner and what contact have you had with them"></app-text-entry>

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="prisonerFamilyContact"
                      label="What contact have you had with the prisoner's family, partner or significant other?"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError" errorMessage="Specify what contact have you had with the prisoner's family, partner or significant other"></app-text-entry>

      <!-- Angular component -->
      <app-text-entry [group]="reportForm" name="prisonerStaffContact"
                      label="What contact have you had with other relevant agencies or staff who are involved with the prisoner?"
                      (onSaveContent)="saveContent(reportForm)" [error]="formError" errorMessage="Specify what contact have you had with other relevant agencies or staff who are involved with the prisoner"></app-text-entry>

      <!-- ANGULAR COMPONENT -->
      <app-parom1-footer></app-parom1-footer>

    </form>

  </div>
</div>
